if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[vHistologySubmission]') and OBJECTPROPERTY(id, N'IsView') = 1)
drop view [dbo].[vHistologySubmission]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW dbo.vHistologySubmission
AS
SELECT distinct     dbo.Animal.SenderRef, dbo.Animal.HistologyRef, dbo.Batch.DateReceived, dbo.Batch.DateCompleted, 
                      dbo.luProjects.Description as Project, dbo.luTissueType.Description AS Tissue
FROM         dbo.Animal INNER JOIN
                      dbo.Batch ON dbo.Animal.ID = dbo.Batch.ID INNER JOIN
                      dbo.luProjects ON dbo.Batch.ProjectContractCode = dbo.luProjects.ID INNER JOIN
                      dbo.BatchBlock ON dbo.Batch.ID = dbo.BatchBlock.BatchID INNER JOIN
                      dbo.BlockTissues ON dbo.BatchBlock.ID = dbo.BlockTissues.BlockID INNER JOIN
                      dbo.luTissueType ON dbo.BlockTissues.TissueCode = dbo.luTissueType.Code
WHERE
		luTissueType.Description = 'Obex'
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

