SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[EditluUserArea_back]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[EditluUserArea_back]
GO

CREATE PROCEDURE EditluUserArea
	@Original_Code varchar(10),
	@Code varchar(10),
	@Description varchar(50),
	@IsActive bit	
AS
    DECLARE 
        @ErrorCode int, 
        @RowsUpdated int
    
    UPDATE luUserArea SET
	[Code]=@Code,
	[Description]=@Description,
	[IsActive]=@IsActive
    WHERE
        [Code]=@Original_Code
        
    SELECT @ErrorCode = @@ERROR, @RowsUpdated = @@ROWCOUNT
    
    IF @ErrorCode = 0 BEGIN
        IF @RowsUpdated = 0 BEGIN
            RETURN -1
        END ELSE BEGIN
            RETURN 0
        END
    END ELSE BEGIN
        RETURN @ErrorCode
    END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[EditluUserArea_back]  TO [HistologyUser]
GO

