SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetluArchiveLocation]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetluArchiveLocation]
GO

CREATE PROCEDURE GetluArchiveLocation
AS

	DECLARE @ttblArchiveLocation TABLE
	(
		[ID] int IDENTITY(1,1),
		[Code] varchar(10),
		[Description] varchar(50),
		[IsActive] bit
	)

	SET NOCOUNT ON

	INSERT INTO @ttblArchiveLocation
	(
		[Code],
		[Description],
		[IsActive]
	)

	SELECT 
		[Code],
		[Description],
		[IsActive]
	FROM 
		luArchiveLocation
	WHERE
		[IsActive] = 1
	ORDER BY 
		[Description]
	

	SELECT 
		[ID],
		[Code],
		[Description],
		[IsActive]
	FROM 
		@ttblArchiveLocation

	SET NOCOUNT OFF

RETURN
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetluArchiveLocation]  TO [HistologyUser]
GO

