SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[EditBlockStain]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[EditBlockStain]
GO

CREATE PROCEDURE EditBlockStain
	@ID int,
	@BlockID int,
	@Code varchar(10),
	@Result varchar(10),
	@QCCode varchar(10),
	@QCNote bit, 
	@QCNoteRef int,
	@StainRef varchar(10),
	@DispatchedDate datetime, 
	@DispatchedBy varchar(25),
	@EnteredBy varchar(25),
	@PremiumCharge varchar(10),
	@Dispatched bit,
	@DispatchedTo varchar(20),
	@Comment varchar(500),
	@RemedialAction varchar(15),
	@ArchiveLocation varchar(10),
	@ArchivedDate datetime,
	@ArchiveComment varchar(500),
	@NumberOfSlides tinyint,
	@UserID int,
	@RowStamp timestamp
AS
DECLARE 
	@columnName  varchar(50),
	@columnValue varchar(500),
	@columnCount int,
	@oldColumnValue varchar(500), 
	@oldColumnValue1 varchar(500), @oldColumnValue2 varchar(500), @oldColumnValue3 varchar(500), @oldColumnValue4 varchar(500), @oldColumnValue5 varchar(500), 
	@oldColumnValue6 varchar(500), @oldColumnValue7 varchar(500), @oldColumnValue8 varchar(500), @oldColumnValue9 varchar(500), @oldColumnValue10 varchar(500), 
	@oldColumnValue11 varchar(500), @oldColumnValue12 varchar(500), @oldColumnValue13 varchar(500), @oldColumnValue14 varchar(500), @oldColumnValue15 varchar(500), 
	@oldColumnValue16 varchar(500), @oldColumnValue17 varchar(500), @oldColumnValue18 varchar(500), @oldColumnValue19 varchar(500), @oldColumnValue20 varchar(500),
	@RowCount int

	SET @oldColumnValue2 = CONVERT(varchar(500), (SELECT BlockID  FROM BlockStain WHERE ID=@ID))
	SET @oldColumnValue3 = CONVERT(varchar(500), (SELECT Code  FROM BlockStain WHERE ID=@ID))
	SET @oldColumnValue4 = CONVERT(varchar(500), (SELECT Result  FROM BlockStain WHERE ID=@ID))
	SET @oldColumnValue5 = CONVERT(varchar(500), (SELECT QCCode  FROM BlockStain WHERE ID=@ID))
	SET @oldColumnValue6 = CONVERT(varchar(500), (SELECT QCNote  FROM BlockStain WHERE ID=@ID))
	SET @oldColumnValue7 = CONVERT(varchar(500), (SELECT QCNoteRef  FROM BlockStain WHERE ID=@ID))
	SET @oldColumnValue8 = CONVERT(varchar(500), (SELECT StainRef  FROM BlockStain WHERE ID=@ID))
	SET @oldColumnValue9 = CONVERT(varchar(500), (SELECT DispatchedDate  FROM BlockStain WHERE ID=@ID))
	SET @oldColumnValue10 = CONVERT(varchar(500), (SELECT DispatchedBy  FROM BlockStain WHERE ID=@ID))
	SET @oldColumnValue11 = CONVERT(varchar(500), (SELECT EnteredBy  FROM BlockStain WHERE ID=@ID))
	SET @oldColumnValue12 = CONVERT(varchar(500), (SELECT PremiumCharge  FROM BlockStain WHERE ID=@ID))
	SET @oldColumnValue13 = CONVERT(varchar(500), (SELECT Dispatched  FROM BlockStain WHERE ID=@ID))
	SET @oldColumnValue14 = CONVERT(varchar(500), (SELECT DispatchedTo  FROM BlockStain WHERE ID=@ID))
	SET @oldColumnValue15 = CONVERT(varchar(500), (SELECT Comment  FROM BlockStain WHERE ID=@ID))
	SET @oldColumnValue16 = CONVERT(varchar(500), (SELECT RemedialAction  FROM BlockStain WHERE ID=@ID))
	SET @oldColumnValue17 = CONVERT(varchar(500), (SELECT ArchiveLocation  FROM BlockStain WHERE ID=@ID))
	SET @oldColumnValue18 = CONVERT(varchar(500), (SELECT ArchivedDate  FROM BlockStain WHERE ID=@ID))
	SET @oldColumnValue19 = CONVERT(varchar(500), (SELECT ArchiveComment  FROM BlockStain WHERE ID=@ID))
	SET @oldColumnValue20 = CONVERT(varchar(500), (SELECT NumberOfSlides FROM BlockStain WHERE ID=@ID))

	UPDATE [BlockStain] SET
		BlockID = @BlockID,
		Code=@Code,
		Result=@Result,
		QCCode=@QCCode,
		QCNote=@QCNote,
		QCNoteRef=@QCNoteRef,
		StainRef=@StainRef,
		DispatchedDate=@DispatchedDate,
		DispatchedBy=@DispatchedBy,
		EnteredBy=@EnteredBy,
		PremiumCharge=@PremiumCharge,
		Dispatched=@Dispatched,
		DispatchedTo=@DispatchedTo,
		Comment=@Comment,
		RemedialAction=@RemedialAction,
		ArchiveLocation=@ArchiveLocation,
		ArchivedDate=@ArchivedDate,
		ArchiveComment=@ArchiveComment,
		NumberOfSlides=@NumberOfSlides
	WHERE
		ID=@ID AND RowStamp=@RowStamp

	SET @RowCount = @@ROWCOUNT

	IF @RowCount = 0 BEGIN
		RETURN 1
	END

	SET @columnCount = 1

	WHILE @columnCount < 21
	BEGIN
		SET @columnName = CASE @columnCount
			WHEN 1 THEN 'ID'
			WHEN 2 THEN 'BlockID'
			WHEN 3 THEN 'Code'
			WHEN 4 THEN 'Result'
			WHEN 5 THEN 'QCCode'
			WHEN 6 THEN 'QCNote'
			WHEN 7 THEN 'QCNoteRef'
			WHEN 8 THEN 'StainRef'
			WHEN 9 THEN 'DispatchedDate'
			WHEN 10 THEN 'DispatchedBy'
			WHEN 11 THEN 'EnteredBy'
			WHEN 12 THEN 'Premium Charge'
			WHEN 13 THEN 'Dispatched'
			WHEN 14 THEN 'DispatchedTo'
			WHEN 15 THEN 'Comment'
			WHEN 16 THEN 'RemedialAction'
			WHEN 17 THEN 'ArchiveLocation'
			WHEN 18 THEN 'ArchivedDate'
			WHEN 19 THEN 'ArchiveComment'
			WHEN 20 THEN 'NumberOfSlides'
		END

		SET @columnVALUE = CASE @columnCount 
			WHEN 1 THEN CONVERT(varchar(500), @ID)
			WHEN 2 THEN CONVERT(varchar(500), @BlockID)
			WHEN 3 THEN CONVERT(varchar(500), @Code)
			WHEN 4 THEN CONVERT(varchar(500), @Result)
			WHEN 5 THEN CONVERT(varchar(500), @QCCode)
			WHEN 6 THEN CONVERT(varchar(500), @QCNote)
			WHEN 7 THEN CONVERT(varchar(500), @QCNoteRef)
			WHEN 8 THEN CONVERT(varchar(500), @StainRef)
			WHEN 9 THEN CONVERT(varchar(500), @DispatchedDate)
			WHEN 10 THEN CONVERT(varchar(500), @DispatchedBy)
			WHEN 11 THEN CONVERT(varchar(500), @EnteredBy)
			WHEN 12 THEN CONVERT(varchar(500), @PremiumCharge)
			WHEN 13 THEN CONVERT(varchar(500), @Dispatched)
			WHEN 14 THEN CONVERT(varchar(500), @DispatchedTo)
			WHEN 15 THEN CONVERT(varchar(500), @Comment)
			WHEN 16 THEN CONVERT(varchar(500), @RemedialAction)
			WHEN 17 THEN CONVERT(varchar(500), @ArchiveLocation)
			WHEN 18 THEN CONVERT(varchar(500), @ArchivedDate)
			WHEN 19 THEN CONVERT(varchar(500), @ArchiveComment)
			WHEN 20 THEN CONVERT(varchar(500), @NumberOfSlides)
		END

		SET @oldColumnValue = CASE @columnCount
			WHEN 1 THEN CONVERT(varchar(500), @ID)
			WHEN 2 THEN @oldColumnValue2
			WHEN 3 THEN @oldColumnValue3
			WHEN 4 THEN @oldColumnValue4
			WHEN 5 THEN @oldColumnValue5
			WHEN 6 THEN @oldColumnValue6
			WHEN 7 THEN @oldColumnValue7
			WHEN 8 THEN @oldColumnValue8
			WHEN 9 THEN @oldColumnValue9
			WHEN 10 THEN @oldColumnValue10
			WHEN 11 THEN @oldColumnValue11
			WHEN 12 THEN @oldColumnValue12
			WHEN 13 THEN @oldColumnValue13
			WHEN 14 THEN @oldColumnValue14
			WHEN 15 THEN @oldColumnValue15
			WHEN 16 THEN @oldColumnValue16
			WHEN 17 THEN @oldColumnValue17
			WHEN 18 THEN @oldColumnValue18
			WHEN 19 THEN @oldColumnValue19
			WHEN 20 THEN @oldColumnValue20
		END
		

		IF @oldColumnValue <> @columnValue  AND NOT @oldColumnValue IS NULL BEGIN
			INSERT INTO AuditLog 
				(ID, TableName, FieldName, LogDate, UserID, BeforeValue , AfterValue, Reason)
			VALUES
		        	(@ID, 'BlockStain', @columnName, getDate(), @UserID, @oldColumnValue, @columnValue, 'EditBlockStain')
		END

		SET @columnCount = @columnCount + 1
	END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[EditBlockStain]  TO [HistologyUser]
GO

