SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetAnimalsBySenderRef]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetAnimalsBySenderRef]
GO

CREATE PROCEDURE GetAnimalsBySenderRef 
	@SenderRef varchar(20)
AS

SELECT DISTINCT
	[Animal].[ID],
	[Animal].[SenderRef],
	[Animal].[HistologyRef],
	[Animal].[NextBlockRef],
	[Animal].[RowStamp],
	[Animal].[OnHold],
	[Animal].[PMDate]
FROM
	[Animal]	
WHERE
	(SenderRef LIKE '%' + @SenderRef + '%')

RETURN
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetAnimalsBySenderRef]  TO [HistologyUser]
GO

