SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetEditableLookups]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetEditableLookups]
GO

CREATE PROCEDURE GetEditableLookups AS
    	SELECT
		[ID],
		[TableName],
		[Description]
	FROM 
		EditableLookup
	ORDER BY
		[Description]

	RETURN 0
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetEditableLookups]  TO [HistologyUser]
GO

