SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetBatchAntibodies]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetBatchAntibodies]
GO

CREATE PROCEDURE GetBatchAntibodies
	@ID integer
AS	
SELECT
	[BatchAntibodies].[ID],
	[BatchAntibodies].[BatchID],
	[BatchAntibodies].[Code]
FROM 
	[Batch] INNER JOIN [BatchAntibodies] ON [BatchAntibodies].[BatchID] = [Batch].[ID]
WHERE 
	[Batch].[ID] = @ID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetBatchAntibodies]  TO [HistologyUser]
GO

