SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetBlocksBySubmissionID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetBlocksBySubmissionID]
GO

CREATE PROCEDURE GetBlocksBySubmissionID
	@ID int
AS
	EXEC GetBlockDetails @ID
	EXEC GetTissuesForBlock @ID
	EXEC GetTestsForBlock @ID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetBlocksBySubmissionID]  TO [HistologyUser]
GO

