SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetContacts]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetContacts]
GO

CREATE PROCEDURE GetContacts AS
	SELECT 
		[ID],
		[Description],
		[IsActive],
		[Area]
	FROM 
		luContacts
	WHERE 
		[IsActive] = 1
	ORDER BY
		[Description]
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetContacts]  TO [HistologyUser]
GO

