SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetQCNoteByID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetQCNoteByID]
GO

CREATE PROCEDURE  GetQCNoteByID
	@QCNoteRef integer
AS
SELECT
	[QCNotes].[ID]
FROM 
	[QCNotes]
WHERE
	[QCNotes].[ID] = @QCNoteRef

RETURN @@RowCount

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetQCNoteByID]  TO [HistologyUser]
GO

