SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AddluTSEAntibodies]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AddluTSEAntibodies]
GO

CREATE PROCEDURE AddluTSEAntibodies
	@Code varchar(10),
	@Description varchar(50),
	@IsActive bit
AS
	DECLARE
        		@ErrorCode int

	INSERT INTO luTSEAntibodies
        		([Code], [Description], [IsActive])
	VALUES
		(@Code, @Description, @IsActive)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[AddluTSEAntibodies]  TO [HistologyUser]
GO

