SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AddluSubmissionPriority]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AddluSubmissionPriority]
GO

CREATE PROCEDURE AddluSubmissionPriority
	@Code varchar(10),
	@Description varchar(50),
	@IsActive bit
AS
	INSERT INTO luSubmissionPriority
        		([Code], [Description], [IsActive])
	VALUES
		(@Code, @Description, @IsActive)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[AddluSubmissionPriority]  TO [HistologyUser]
GO

