SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[EditAntibodies]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[EditAntibodies]
GO

CREATE PROCEDURE EditAntibodies
	@ID int,
	@BatchID int,
	@Code varchar(10)
AS
	UPDATE BatchAntibodies SET
		BatchID = @BatchID,
		Code=@Code
	WHERE
		ID=@ID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[EditAntibodies]  TO [HistologyUser]
GO

