SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[EditBatchStatus_temp]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[EditBatchStatus_temp]
GO

CREATE PROCEDURE EditBatchStatus
	@ID int,	
	@BatchStatus int,
	@DateReceived datetime,
	@TimeReceived int,
	@ReceivedBy int,
	@StatusComments varchar(500),
	@PostFixationOther varchar(500)
AS
	DECLARE 
	@ErrorCode int, 	
	@RowsUpdated int

	UPDATE Batch SET
		[BatchStatus]=@BatchStatus,
		[DateReceived]=@DateReceived,
		[TimeReceived]=@TimeReceived,
		[ReceivedBy]=@ReceivedBy,
		[StatusComments]=@StatusComments,
		[PostFixationOther]=@PostFixationOther
	WHERE
		[ID]=@ID

	SELECT @ErrorCode = @@ERROR, @RowsUpdated = @@ROWCOUNT

	IF @ErrorCode = 0 BEGIN
		IF @RowsUpdated = 0 BEGIN
		    RETURN -1
	END ELSE BEGIN
		    RETURN 0
	END
	END ELSE BEGIN
		RETURN @ErrorCode
	END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[EditBatchStatus_temp]  TO [HistologyUser]
GO

