SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[EditTissue]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[EditTissue]
GO

CREATE PROCEDURE EditTissue
	@ID int,
	@BatchSubmissionID int,
	@TissueCode varchar(20),
	@NoPieces smallint,
	@Comment varchar(500),
	@ArchiveLocation varchar(10),
	@ArchivedDate datetime,
	@ArchiveComment varchar(500),
	@UserID integer,
	@RowStamp timestamp
AS
DECLARE 
	@ErrorCode int, 
	@RowsUpdated int,
	@columnName  varchar(50),
	@columnValue varchar(500),
	@columnCount int,
	@oldColumnValue varchar(500), 
	@oldColumnValue1 varchar(500), @oldColumnValue2 varchar(500), @oldColumnValue3 varchar(500), @oldColumnValue4 varchar(500),
	@oldColumnValue5 varchar(500), @oldColumnValue6 varchar(500), @oldColumnValue7 varchar(500), @oldColumnValue8 varchar(500),
	@RowCount  int

	SET @oldColumnValue2 = CONVERT(varchar(500), (SELECT BatchSubmissionID  FROM BatchTissues WHERE ID=@ID))
	SET @oldColumnValue3 = CONVERT(varchar(500), (SELECT TissueCode  FROM BatchTissues WHERE ID=@ID))
	SET @oldColumnValue4 = CONVERT(varchar(500), (SELECT NoPieces  FROM BatchTissues WHERE ID=@ID))
	SET @oldColumnValue5 = CONVERT(varchar(500), (SELECT Comment  FROM BatchTissues WHERE ID=@ID))
	SET @oldColumnValue6 = CONVERT(varchar(500), (SELECT ArchiveLocation  FROM BatchTissues WHERE ID=@ID))
	SET @oldColumnValue7 = CONVERT(varchar(500), (SELECT ArchivedDate  FROM BatchTissues WHERE ID=@ID))
	SET @oldColumnValue8 = CONVERT(varchar(500), (SELECT ArchiveComment  FROM BatchTissues WHERE ID=@ID))

	UPDATE BatchTissues SET
		BatchSubmissionID = @BatchSubmissionID,
		TissueCode=@TissueCode,
		NoPieces=@NoPieces,
		Comment=@Comment,
		ArchiveLocation=@ArchiveLocation,
		ArchivedDate=@ArchivedDate,
		ArchiveComment=@ArchiveComment
	WHERE
		ID=@ID AND RowStamp=@RowStamp

	SET @RowCount = @@ROWCOUNT

	IF @RowCount = 0 BEGIN
		RETURN 1
	END

	SET @columnCount = 1

	WHILE @columnCount < 9
	BEGIN
		SET @columnName = CASE @columnCount
			WHEN 1 THEN 'ID'
			WHEN 2 THEN 'BatchSubmissionID'
			WHEN 3 THEN 'TissueCode'
			WHEN 4 THEN 'NoPieces'
			WHEN 5 THEN 'Comment'
			WHEN 6 THEN 'ArchiveLocation'
			WHEN 7 THEN 'ArchivedDate'
			WHEN 8 THEN 'ArchiveComment'
		END

		SET @columnVALUE = CASE @columnCount 
			WHEN 1 THEN CONVERT(varchar(500), @ID)
			WHEN 2 THEN CONVERT(varchar(500), @BatchSubmissionID)
			WHEN 3 THEN CONVERT(varchar(500), @TissueCode)
			WHEN 4 THEN CONVERT(varchar(500), @NoPieces)
			WHEN 5 THEN CONVERT(varchar(500), @Comment)
			WHEN 6 THEN CONVERT(varchar(500), @ArchiveLocation)
			WHEN 7 THEN CONVERT(varchar(500), @ArchivedDate)
			WHEN 8 THEN CONVERT(varchar(500), @ArchiveComment)
		END

		SET @oldColumnValue = CASE @columnCount
			WHEN 1 THEN CONVERT(varchar(500), @ID)
			WHEN 2 THEN @oldColumnValue2
			WHEN 3 THEN @oldColumnValue3
			WHEN 4 THEN @oldColumnValue4
			WHEN 5 THEN @oldColumnValue5
			WHEN 6 THEN @oldColumnValue6
			WHEN 7 THEN @oldColumnValue7
			WHEN 8 THEN @oldColumnValue8
		END
		

		IF @oldColumnValue <> @columnValue  AND NOT @oldColumnValue IS NULL BEGIN
			INSERT INTO AuditLog 
				(ID, TableName, FieldName, LogDate, UserID, BeforeValue , AfterValue, Reason)
			VALUES
		        	(@ID, 'BatchTissues', @columnName, getDate(), @UserID, @oldColumnValue, @columnValue, 'EditTissues')
		END

		SET @columnCount = @columnCount + 1
	END

	SELECT @ErrorCode = @@ERROR, @RowsUpdated = @@ROWCOUNT

	IF @ErrorCode = 0 BEGIN
		IF @RowsUpdated = 0 BEGIN
		    RETURN -1
	END ELSE BEGIN
		    RETURN 0
	END
	END ELSE BEGIN
		RETURN @ErrorCode
	END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[EditTissue]  TO [HistologyUser]
GO

