SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetluNonTSEAntibodiesAll]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetluNonTSEAntibodiesAll]
GO

CREATE PROCEDURE GetluNonTSEAntibodiesAll	
AS
	DECLARE @ttblNonTSEAntibodies TABLE
	(
		[ID] int IDENTITY(1,1),
		[Code] varchar(10),
		[Description] varchar(50),
		[IsActive] bit
	)

	SET NOCOUNT ON

	INSERT INTO @ttblNonTSEAntibodies
	(
		[Code],
		[Description],
		[IsActive]
	)

	SELECT 
		[Code],
		[Description],
		[IsActive]
	FROM 
		luNonTSEAntibodies
	ORDER BY 
		[Description]

	SELECT
		[ID], 
		[Code],
		[Description],
		[IsActive]
	FROM 
		@ttblNonTSEAntibodies

	SET NOCOUNT OFF

RETURN
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetluNonTSEAntibodiesAll]  TO [HistologyUser]
GO

