SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AddluPremiumCharges]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AddluPremiumCharges]
GO

CREATE PROCEDURE AddluPremiumCharges		
	@Code varchar(10),
	@Description varchar(50),
	@IsActive bit
AS
	
	INSERT INTO luPremiumCharges
        		([Code], [Description], [IsActive])
	VALUES
		(@Code, @Description, @IsActive)
        
RETURN
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[AddluPremiumCharges]  TO [HistologyUser]
GO

