SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AddUser]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AddUser]
GO

CREATE PROCEDURE AddUser
	@NTLogin varchar(25),
	@Name varchar(35),
	@Email varchar(60),
	@UserGroup varchar(10),
	@UserArea varchar(10),
	@Active bit
AS
	INSERT INTO [User]
        		([NTLogin], [Name], [Email], [UserGroup], [UserArea],  [Active])
	VALUES
		(@NTLogin, @Name, @Email, @UserGroup, @UserArea, @Active)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[AddUser]  TO [HistologyUser]
GO

