SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[DeleteData]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[DeleteData]
GO


CREATE PROCEDURE DeleteData 

AS
	TRUNCATE TABLE AUDITLOG
	DBCC CHECKIDENT ('AuditLog', reseed, 1)

	TRUNCATE TABLE ANIMAL
	DBCC CHECKIDENT ('Animal', reseed, 1)

	TRUNCATE TABLE BATCH
	DBCC CHECKIDENT('Batch', reseed, 1)

	TRUNCATE TABLE BATCHHISTOLOGY
	DBCC CHECKIDENT('BatchHistology', reseed, 1)

	TRUNCATE TABLE BATCHANTIBODIES
	DBCC CHECKIDENT('BatchAntibodies', reseed, 1)

	TRUNCATE TABLE BATCHSTAIN
	DBCC CHECKIDENT('BatchStain', reseed, 1)

	TRUNCATE TABLE BATCHPOSTFIXATION
	DBCC CHECKIDENT('BatchPostFixation', reseed, 1)

	TRUNCATE TABLE BATCHSUBMISSION 
	DBCC CHECKIDENT('BatchSubmission', reseed, 1)

	TRUNCATE TABLE BATCHTISSUES
	DBCC CHECKIDENT('BatchTissues', reseed, 1)

	TRUNCATE TABLE BATCHBLOCK
	DBCC CHECKIDENT('BatchBlock', reseed, 1)

	TRUNCATE TABLE BLOCKSTAIN
	DBCC CHECKIDENT('BlockStain', reseed, 1)

	TRUNCATE TABLE BLOCKANTIBODIES
	DBCC CHECKIDENT('BlockAntibodies', reseed, 1)

	TRUNCATE TABLE BLOCKHISTOLOGY
	DBCC CHECKIDENT('BlockHistology', reseed, 1)

	TRUNCATE TABLE BLOCKTISSUES
	DBCC CHECKIDENT('BlockTissues', reseed, 1)

	TRUNCATE TABLE ANTIBODIESTCCODES
	DBCC CHECKIDENT('AntiBodiesTCCodes', reseed, 1)

	TRUNCATE TABLE SPECIALSTAINTCCODES
	DBCC CHECKIDENT('SpecialStainTCCodes', reseed, 1)

	TRUNCATE TABLE HISTOLOGYTCCODES
	DBCC CHECKIDENT('HistologyTCCodes', reseed, 1)

	TRUNCATE TABLE BATCHSUBMITTEDAS
	DBCC CHECKIDENT('BatchSubmittedAs',reseed, 1)

	TRUNCATE TABLE QCNOTES
	DBCC CHECKIDENT('QCNotes', reseed, 1)

	TRUNCATE TABLE LUCONTACTS
	DBCC CHECKIDENT('luContacts', reseed, 1)
	
	TRUNCATE TABLE LUPROJECTS
	DBCC CHECKIDENT('luProjects', reseed, 1)

	INSERT INTO luProjects
	VALUES ('MOUSE BIOASSAY', 1, "2")

	UPDATE HistologyRef SET NextHistologyRef = 10000 WHERE Type = 1
	UPDATE HistologyRef SET NextHistologyRef = 20000 WHERE Type = 2
	UPDATE HistologyRef SET NextHistologyRef = 30000 WHERE Type = 3
	UPDATE HistologyRef SET NextHistologyRef = 40000 WHERE Type = 4
	UPDATE HistologyRef SET NextHistologyRef = 60000 WHERE Type = 5

	TRUNCATE TABLE [LOG]
	DBCC CHECKIDENT('Log', reseed, 1)

	TRUNCATE TABLE tempAnimal
	DBCC CHECKIDENT('tempAnimal', reseed, 1)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[DeleteData]  TO [HistologyUser]
GO

