SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetluUserGroup]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetluUserGroup]
GO

CREATE PROCEDURE GetluUserGroup AS

	DECLARE @ttblUserGroup TABLE
	(
		[ID] int IDENTITY(1,1),
		[Code] varchar(10),
		[Description] varchar(50),
		[IsActive] bit
	)

	SET NOCOUNT ON

	INSERT INTO @ttblUserGroup
	(
		[Code],
		[Description],
		[IsActive]
	)

	SELECT 
		[Code],
		[Description],
		[IsActive]
	FROM 
		luUserGroup
	WHERE
		[IsActive] = 1
	ORDER BY 
		[Description]

	SELECT
		[ID], 
		[Code],
		[Description],
		[IsActive]
	FROM 
		@ttblUserGroup

	SET NOCOUNT OFF

RETURN
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetluUserGroup]  TO [HistologyUser]
GO

