SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetBatchAnimal]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetBatchAnimal]
GO

CREATE PROCEDURE GetBatchAnimal
	@ID integer
AS	
SELECT
	[Animal].[ID],
	[Animal].[SenderRef],
	[Animal].[HistologyRef],
	[Animal].[NextBlockRef],
	[Animal].[OnHold],
	[Animal].[PMDate],
	[Animal].[RowStamp]
FROM 
	[Batch] INNER JOIN [BatchSubmission] ON [BatchSubmission].[BatchID] = [Batch].[ID]
	INNER JOIN [Animal] ON [Animal].[ID] = [BatchSubmission].[AnimalID]
WHERE 
	[Batch].[ID] = @ID
ORDER BY 
	[Animal].[SenderRef]
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetBatchAnimal]  TO [HistologyUser]
GO

