SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[EditluProjectsOtherVLA]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[EditluProjectsOtherVLA]
GO

CREATE PROCEDURE EditluProjectsOtherVLA
	@ID integer,
	@Description varchar(50),
	@IsActive bit,
	@UserID integer	
AS
    DECLARE 
	@ErrorCode int, 
	@RowsUpdated int,
	@columnName  varchar(50),
	@columnValue varchar(500),
	@columnCount int,
	@oldColumnValue varchar(500), 
	@oldColumnValue1 varchar(500),
	@oldColumnValue2 varchar(500)
	
	SET @oldColumnValue = CONVERT(varchar(500), (SELECT [Description]  FROM luProjectsNeuropath WHERE ID=@ID))
	SET @oldColumnValue1 = CONVERT(varchar(500), (SELECT IsActive  FROM luProjectsNeuropath WHERE ID=@ID))

	UPDATE luProjectsOtherVLA SET
		[Description]=@Description,
		[IsActive]=@IsActive
	WHERE
		[ID]=@ID
        
	SET @columnCount = 1

	WHILE @columnCount < 3
	BEGIN
		SET @columnName = CASE @columnCount
			WHEN 1 THEN 'Description'
			WHEN 2 THEN 'IsActive'
		END

		SET @columnVALUE = CASE @columnCount 
			WHEN 1 THEN CONVERT(varchar(500), @Description)
			WHEN 2 THEN CONVERT(varchar(500), @IsActive)
		END

		SET @oldColumnValue = CASE @columnCount
			WHEN 1 THEN @oldColumnValue
			WHEN 2 THEN @oldColumnValue1
		END
		

		IF @oldColumnValue <> @columnValue AND NOT @oldColumnValue IS NULL  BEGIN
			INSERT INTO AuditLog 
				(ID, TableName, FieldName, LogDate, UserID, BeforeValue , AfterValue, Reason)
			VALUES
		        	(@ID, 'luProjectsOtherVLA', @columnName, getDate(), @UserID, @oldColumnValue, @columnValue, 'EditluProjectsOtherVLA')
		END

		SET @columnCount = @columnCount + 1
	END

    SELECT @ErrorCode = @@ERROR, @RowsUpdated = @@ROWCOUNT
    
    IF @ErrorCode = 0 BEGIN
        IF @RowsUpdated = 0 BEGIN
            RETURN -1
        END ELSE BEGIN
            RETURN 0
        END
    END ELSE BEGIN
        RETURN @ErrorCode
    END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[EditluProjectsOtherVLA]  TO [HistologyUser]
GO

