SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[EditHistologyRef]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[EditHistologyRef]
GO

CREATE PROCEDURE EditHistologyRef
	@Type int,
	@NextHistologyRef varchar(5),
	@RowStamp timestamp
AS
	DECLARE 
		@ErrorCode int, 
		@RowCount  int
	
	UPDATE HistologyRef SET
		[NextHistologyRef]=@NextHistologyRef
	WHERE
		[Type]=@Type AND RowStamp=@RowStamp

	SET @RowCount = @@ROWCOUNT
	
	IF @RowCount = 0 BEGIN
		RETURN 1
	END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[EditHistologyRef]  TO [HistologyUser]
GO

