SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetAuditLogByDate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetAuditLogByDate]
GO



CREATE PROCEDURE GetAuditLogByDate
	@LogDate datetime AS

	SELECT
		[AuditLog].[ID],
		[AuditLog].[TableName],
		[AuditLog].[FieldName],
		CONVERT(varchar(30),[AuditLog].[LogDate], 103) + ' ' + CONVERT(varchar(30), [AuditLog].[LogDate], 108) AS [DateTime],
		[User].[Name] AS [UserName],
		[AuditLog].[BeforeValue],
		[AuditLog].[AfterValue],
		[AuditLog].[Reason],
		[AuditLog].[KeyID]
	FROM
		[AuditLog] INNER JOIN [User] ON [AuditLog].[UserID] = [User].[ID]
	WHERE
		[LogDate] BETWEEN @LogDate AND DATEADD(d, 1, @LogDate)
	ORDER BY
		[Reason],
		[TableName],
		[FieldName],
		[LogDate]


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetAuditLogByDate]  TO [HistologyUser]
GO

