SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetAnimalAntibodiesArchiveInformation]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetAnimalAntibodiesArchiveInformation]
GO

CREATE PROCEDURE GetAnimalAntibodiesArchiveInformation 
	@SenderRef varchar(20),
	@HistologyRef varchar(20),
	@ArchiveLocation varchar(10),
	@BatchID integer,
	@SubmissionType integer
AS

IF @SubmissionType = 0 BEGIN
	IF @SenderRef IS NULL BEGIN
		SELECT    
			[BatchBlock].[BatchID], 
			[BatchBlock].[BlockRef], 
			CONVERT(varchar(30),[BlockAntibodies].[ArchivedDate], 103) AS ArchivedDate,
			[luArchiveLocation].[Description] AS ArchiveLocation, 
			[luTSEAntibodies].[Description], 
			[luTissueType].[Description] AS TissueDescription,
			[BlockTissues].[NoPieces]
		FROM         
			[Batch] INNER JOIN [BatchBlock] ON [BatchBlock].[BatchID] = [Batch].[ID]
			INNER JOIN [Animal] ON [BatchBlock].[AnimalID] = [Animal].[ID]
			INNER JOIN [BlockAntibodies] ON [BlockAntibodies].[BlockID] = [BatchBlock].[ID]
			INNER JOIN [luTSEAntibodies] ON [luTSEAntibodies].[Code] = [BlockAntibodies].[Code] 
			LEFT JOIN [luArchiveLocation] ON [luArchiveLocation].[Code] = [BlockAntibodies].[ArchiveLocation]
			INNER JOIN [BlockTissues] ON [BlockTissues].[BlockID] = [BatchBlock].[ID]
			INNER JOIN [luTissueType] ON [luTissueType].[Code] = [BlockTissues].[TissueCode]
		WHERE 
			[Animal].[HistologyRef] = @HistologyRef
			AND (@ArchiveLocation = [BlockAntibodies].[ArchiveLocation] OR @ArchiveLocation IS NULL)
			AND [Batch].[ID] = @BatchID
		ORDER BY
			[BatchBlock].[BatchID],
			[BatchBlock].[ID],
			[BatchBlock].[BlockRef], 
			[BlockAntibodies].[ArchivedDate], 
			[luArchiveLocation].[Description],
			[luTSEAntibodies].[Description],
			[luTissueType].[Description],
			[BlockTissues].[NoPieces]
	END 
	ELSE
		SELECT     
			[BatchBlock].[BatchID], 
			[BatchBlock].[BlockRef], 
			CONVERT(varchar(30),[BlockAntibodies].[ArchivedDate], 103) AS ArchivedDate,
			[luArchiveLocation].[Description] AS ArchiveLocation, 
			[luTSEAntibodies].[Description], 
			[luTissueType].[Description] AS TissueDescription,
			[BlockTissues].[NoPieces]
		FROM         
			[Batch] INNER JOIN [BatchBlock] ON [BatchBlock].[BatchID] = [Batch].[ID]
			INNER JOIN [Animal] ON [BatchBlock].[AnimalID] = [Animal].[ID]
			INNER JOIN [BlockAntibodies] ON [BlockAntibodies].[BlockID] = [BatchBlock].[ID]
			INNER JOIN [luTSEAntibodies] ON [luTSEAntibodies].[Code] = [BlockAntibodies].[Code] 
			LEFT JOIN [luArchiveLocation] ON [luArchiveLocation].[Code] = [BlockAntibodies].[ArchiveLocation]
			INNER JOIN [BlockTissues] ON [BlockTissues].[BlockID] = [BatchBlock].[ID]
			INNER JOIN [luTissueType] ON [luTissueType].[Code] = [BlockTissues].[TissueCode]
		WHERE 
			[Animal].[SenderRef] = @SenderRef
			AND (@ArchiveLocation = [BlockAntibodies].[ArchiveLocation] OR @ArchiveLocation IS NULL)
			AND [Batch].[ID] = @BatchID
		ORDER BY
			[BatchBlock].[BatchID],
			[BatchBlock].[ID],
			[BatchBlock].[BlockRef], 
			[BlockAntibodies].[ArchivedDate], 
			[luArchiveLocation].[Description],
			[luTSEAntibodies].[Description],
			[luTissueType].[Description],
			[BlockTissues].[NoPieces]
END
ELSE
	IF @SenderRef IS NULL BEGIN
		SELECT    
			[BatchBlock].[BatchID], 
			[BatchBlock].[BlockRef], 
			CONVERT(varchar(30),[BlockAntibodies].[ArchivedDate], 103) AS ArchivedDate,
			[luArchiveLocation].[Description] AS ArchiveLocation, 
			[luNonTSEAntibodies].[Description], 
			[luTissueType].[Description] AS TissueDescription,
			[BlockTissues].[NoPieces]
		FROM         
			[Batch] INNER JOIN [BatchBlock] ON [BatchBlock].[BatchID] = [Batch].[ID]
			INNER JOIN [Animal] ON [BatchBlock].[AnimalID] = [Animal].[ID]
			INNER JOIN [BlockAntibodies] ON [BlockAntibodies].[BlockID] = [BatchBlock].[ID]
			INNER JOIN [luNonTSEAntibodies] ON [luNonTSEAntibodies].[Code] = [BlockAntibodies].[Code] 
			LEFT JOIN [luArchiveLocation] ON [luArchiveLocation].[Code] = [BlockAntibodies].[ArchiveLocation]
			INNER JOIN [BlockTissues] ON [BlockTissues].[BlockID] = [BatchBlock].[ID]
			INNER JOIN [luTissueType] ON [luTissueType].[Code] = [BlockTissues].[TissueCode]
		WHERE 
			[Animal].[HistologyRef] = @HistologyRef
			AND (@ArchiveLocation = [BlockAntibodies].[ArchiveLocation] OR @ArchiveLocation IS NULL)
			AND [Batch].[ID] = @BatchID
		ORDER BY
			[BatchBlock].[BatchID],
			[BatchBlock].[ID],
			[BatchBlock].[BlockRef], 
			[BlockAntibodies].[ArchivedDate], 
			[luArchiveLocation].[Description],
			[luNonTSEAntibodies].[Description],
			[luTissueType].[Description],
			[BlockTissues].[NoPieces]
	END 
	ELSE
		SELECT     
			[BatchBlock].[BatchID], 
			[BatchBlock].[BlockRef], 
			CONVERT(varchar(30),[BlockAntibodies].[ArchivedDate], 103) AS ArchivedDate,
			[luArchiveLocation].[Description] AS ArchiveLocation, 
			[luNonTSEAntibodies].[Description], 
			[luTissueType].[Description] AS TissueDescription,
			[BlockTissues].[NoPieces]
		FROM         
			[Batch] INNER JOIN [BatchBlock] ON [BatchBlock].[BatchID] = [Batch].[ID]
			INNER JOIN [Animal] ON [BatchBlock].[AnimalID] = [Animal].[ID]
			INNER JOIN [BlockAntibodies] ON [BlockAntibodies].[BlockID] = [BatchBlock].[ID]
			INNER JOIN [luNonTSEAntibodies] ON [luNonTSEAntibodies].[Code] = [BlockAntibodies].[Code] 
			LEFT JOIN [luArchiveLocation] ON [luArchiveLocation].[Code] = [BlockAntibodies].[ArchiveLocation]
			INNER JOIN [BlockTissues] ON [BlockTissues].[BlockID] = [BatchBlock].[ID]
			INNER JOIN [luTissueType] ON [luTissueType].[Code] = [BlockTissues].[TissueCode]
		WHERE 
			[Animal].[SenderRef] = @SenderRef
			AND (@ArchiveLocation = [BlockAntibodies].[ArchiveLocation] OR @ArchiveLocation IS NULL)
			AND [Batch].[ID] = @BatchID
		ORDER BY
			[BatchBlock].[BatchID],
			[BatchBlock].[ID],
			[BatchBlock].[BlockRef], 
			[BlockAntibodies].[ArchivedDate], 
			[luArchiveLocation].[Description],
			[luNonTSEAntibodies].[Description],
			[luTissueType].[Description],
			[BlockTissues].[NoPieces]

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetAnimalAntibodiesArchiveInformation]  TO [HistologyUser]
GO

