SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetAnimalBySender]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetAnimalBySender]
GO

CREATE PROCEDURE GetAnimalBySender 
	@SenderRef varchar(20)
AS

SELECT
	[Animal].[ID],
	[Animal].[SenderRef],
	[Animal].[HistologyRef],
	[Animal].[PMDate],
	[Animal].[OnHold],
	[Animal].[NextBlockRef]
FROM
	[Animal]
WHERE
	[SenderRef]=@SenderRef

RETURN
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetAnimalBySender]  TO [HistologyUser]
GO

