SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetBatchBlockHistology]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetBatchBlockHistology]
GO

CREATE PROCEDURE GetBatchBlockHistology
	@ID integer
AS
SELECT
	[BlockHistology].[ID],
	[BlockHistology].[BlockID],
	[BlockHistology].[Code],
	[BlockHistology].[Result],
	[BlockHistology].[QCCode],
	[BlockHistology].[QCNote],
	[BlockHistology].[QCNoteRef],
	[BlockHistology].[StainRef],
	[BlockHistology].[DispatchedDate],
	[BlockHistology].[DispatchedBy],
	[BlockHistology].[EnteredBy],
	[BlockHistology].[PremiumCharge],
	[BlockHistology].[Dispatched],
	[BlockHistology].[DispatchedTo],
	[BlockHistology].[Comment],
	[BlockHistology].[RemedialAction],
	[BlockHistology].[ArchiveLocation],
	[BlockHistology].[ArchivedDate],
	[BlockHistology].[ArchiveComment],
	[BlockHistology].[NumberOfSlides],
	[BlockHistology].[RowStamp]
FROM 
	[Batch] INNER JOIN [BatchBlock] ON [BatchBlock].[BatchID] = [Batch].[ID]
	INNER JOIN [BlockHistology] ON [BlockHistology].[BlockID] = [BatchBlock].[ID]
WHERE 
	[Batch].[ID] = @ID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetBatchBlockHistology]  TO [HistologyUser]
GO

