SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AddluTSEHistology]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AddluTSEHistology]
GO

CREATE PROCEDURE AddluTSEHistology
	@Code smallint,
	@Description varchar(50),
	@ID int OUTPUT
AS
	DECLARE
        		@ErrorCode int

	INSERT INTO luTSEHistology
        		([Code], [Description])
	VALUES
		(@Code, @Description)
        
	SET @ErrorCode = @@Error
    
   	 IF @ErrorCode = 0 BEGIN
		SET @ID = SCOPE_IDENTITY()
		RETURN 0
	END ELSE BEGIN
		RETURN @ErrorCode
	END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[AddluTSEHistology]  TO [HistologyUser]
GO

