SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetBatchSubmissions]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetBatchSubmissions]
GO

CREATE PROCEDURE GetBatchSubmissions 
	@ID as integer
AS
SELECT
	[BatchSubmission].[ID],
	[BatchSubmission].[BatchID],
	[BatchSubmission].[AnimalID]
FROM 
	[Batch] INNER JOIN [BatchSubmission] ON [BatchSubmission].[BatchID] = [Batch].[ID]
WHERE
	[Batch].[ID] = @ID
	
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetBatchSubmissions]  TO [HistologyUser]
GO

