SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AddluNonTSEAntibodies]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AddluNonTSEAntibodies]
GO

CREATE PROCEDURE AddluNonTSEAntibodies
	@Code varchar(10),
	@Description varchar(50),
	@IsActive bit
AS
	DECLARE
        		@ErrorCode int

	INSERT INTO luNonTSEAntibodies
        		([Code], [Description], [IsActive])
	VALUES
		(@Code, @Description, @IsActive)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[AddluNonTSEAntibodies]  TO [HistologyUser]
GO

