SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AddBlockTissue]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AddBlockTissue]
GO

CREATE PROCEDURE AddBlockTissue
	@BlockID as int,
	@TissueCode varchar(20),
	@NoPieces smallint,
	@Comment varchar(500)
AS
	INSERT INTO BlockTissues
		(BlockID, TissueCode, NoPieces, Comment)
	VALUES
		(@BlockID, @TissueCode, @NoPieces, @Comment)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[AddBlockTissue]  TO [HistologyUser]
GO

