SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[EditBatch]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[EditBatch]
GO

CREATE PROCEDURE EditBatch
	@ID int,
	@ProjectContractCode int,
	@ContactName int,
	@Species varchar(10),
	@BatchDate datetime,
	@BatchType int,
	@SubmittedBy int,
	@SafeToHandle bit,
	@BatchStatus integer,
	@DateReceived datetime,
	@TimeReceived varchar(10),
	@ReceivedBy int,
	@OtherSubmittedBy int,
	@OtherSubmittedArea varchar(10),
	@Cassetted bit,
	@Fixation varchar(10),
	@Comments varchar(500),
	@StatusComments varchar(500),
	@PostFixationOther varchar(500),
	@IsBlocked bit,
	@CustomerReceivedDate datetime,
	@DateCompleted datetime,
	@SubmittedArea varchar(10),
	@SampleSameProjects bit,
	@AllTissuesAssigned bit,
	@UserID int,
	@RowStamp timestamp
AS
DECLARE 
	@ErrorCode int, 
	@RowsUpdated int,
	@columnName  varchar(50),
	@columnValue varchar(500),
	@columnCount int,
	@oldColumnValue varchar(500), 
	@oldColumnValue1 varchar(500), @oldColumnValue2 varchar(500), @oldColumnValue3 varchar(500), @oldColumnValue4 varchar(500), @oldColumnValue5 varchar(500), 
	@oldColumnValue6 varchar(500), @oldColumnValue7 varchar(500), @oldColumnValue8 varchar(500), @oldColumnValue9 varchar(500), @oldColumnValue10 varchar(500), 
	@oldColumnValue11 varchar(500), @oldColumnValue12 varchar(500), @oldColumnValue13 varchar(500), @oldColumnValue14 varchar(500), @oldColumnValue15 varchar(500), 
	@oldColumnValue16 varchar(500), @oldColumnValue17 varchar(500), @oldColumnValue18 varchar(500), @oldColumnValue19 varchar(500), @oldColumnValue20 varchar(500),
	@oldColumnValue21 varchar(500), @oldColumnValue22 varchar(500), @oldColumnValue23 varchar(500), @oldColumnValue24 varchar(500), @oldColumnValue25 varchar(500), 
	@RowCount  int

	SET @oldColumnValue2 = CONVERT(varchar(500), (SELECT ProjectContractCode  FROM Batch WHERE ID=@ID))
	SET @oldColumnValue3 = CONVERT(varchar(500), (SELECT ContactName  FROM Batch WHERE ID=@ID))
	SET @oldColumnValue4 = CONVERT(varchar(500), (SELECT Species  FROM Batch WHERE ID=@ID))
	SET @oldColumnValue5 = CONVERT(varchar(500), (SELECT BatchDate  FROM Batch WHERE ID=@ID))
	SET @oldColumnValue6 = CONVERT(varchar(500), (SELECT BatchType  FROM Batch WHERE ID=@ID))
	SET @oldColumnValue7 = CONVERT(varchar(500), (SELECT SubmittedBy  FROM Batch WHERE ID=@ID))
	SET @oldColumnValue8 = CONVERT(varchar(500), (SELECT SafeToHandle  FROM Batch WHERE ID=@ID))
	SET @oldColumnValue9 = CONVERT(varchar(500), (SELECT BatchStatus  FROM Batch WHERE ID=@ID))
	SET @oldColumnValue10 = CONVERT(varchar(500), (SELECT DateReceived  FROM Batch WHERE ID=@ID))
	SET @oldColumnValue11 = CONVERT(varchar(500), (SELECT TimeReceived  FROM Batch WHERE ID=@ID))
	SET @oldColumnValue12 = CONVERT(varchar(500), (SELECT ReceivedBy  FROM Batch WHERE ID=@ID))
	SET @oldColumnValue13 = CONVERT(varchar(500), (SELECT OtherSubmittedBy  FROM Batch WHERE ID=@ID))
	SET @oldColumnValue14 = CONVERT(varchar(500), (SELECT OtherSubmittedArea  FROM Batch WHERE ID=@ID))
	SET @oldColumnValue15 = CONVERT(varchar(500), (SELECT Cassetted  FROM Batch WHERE ID=@ID))
	SET @oldColumnValue16 = CONVERT(varchar(500), (SELECT Fixation  FROM Batch WHERE ID=@ID))
	SET @oldColumnValue17 = CONVERT(varchar(500), (SELECT Comments  FROM Batch WHERE ID=@ID))
	SET @oldColumnValue18 = CONVERT(varchar(500), (SELECT StatusComments  FROM Batch WHERE ID=@ID))
	SET @oldColumnValue19 = CONVERT(varchar(500), (SELECT PostFixationOther  FROM Batch WHERE ID=@ID))
	SET @oldColumnValue20 = CONVERT(varchar(500), (SELECT IsBlocked  FROM Batch WHERE ID=@ID))
	SET @oldColumnValue21 = CONVERT(varchar(500), (SELECT CustomerReceivedDate FROM Batch WHERE ID=@ID))
	SET @oldColumnValue22 = CONVERT(varchar(500), (SELECT DateCompleted FROM Batch WHERE ID=@ID))
	SET @oldColumnValue23 = CONVERT(varchar(500), (SELECT SubmittedArea FROM Batch WHERE ID=@ID))
	SET @oldColumnValue24 = CONVERT(varchar(500), (SELECT SampleSameProjects FROM Batch WHERE ID=@ID))
	SET @oldColumnValue25 = CONVERT(varchar(500), (SELECT AllTissuesAssigned FROM Batch WHERE ID=@ID))

	UPDATE Batch SET
		ProjectContractCode = @ProjectContractCode,
		ContactName = @ContactName, 
		Species = @Species,
		BatchDate = @BatchDate,
		BatchType = @BatchType,
		SubmittedBy = @SubmittedBy,
		SafeToHandle = @SafeToHandle,
		BatchStatus = @BatchStatus,
		DateReceived = @DateReceived,
		TimeReceived = @TimeReceived,
		ReceivedBy = @ReceivedBy,
		OtherSubmittedBy = @OtherSubmittedBy,
		OtherSubmittedArea = @OtherSubmittedArea,
		Cassetted=@Cassetted,
		Fixation=@Fixation,
		Comments = @Comments,
		StatusComments=@StatusComments,
		PostFixationOther=@PostFixationOther,
		IsBlocked=@IsBlocked,
		CustomerReceivedDate=@CustomerReceivedDate,
		DateCompleted=@DateCompleted,
		SubmittedArea=@SubmittedArea,
		SampleSameProjects=@SampleSameProjects,
		AllTissuesAssigned=@AllTissuesAssigned
	WHERE
		ID=@ID AND RowStamp=@RowStamp

	SET @RowCount = @@ROWCOUNT

	IF @RowCount = 0 BEGIN
		RETURN 1
	END

	SET @columnCount = 1

	WHILE @columnCount <26
	BEGIN
		SET @columnName = CASE @columnCount
			WHEN 1 THEN 'ID'
			WHEN 2 THEN 'ProjectContractCode'
			WHEN 3 THEN 'ContactName'
			WHEN 4 THEN 'Species'
			WHEN 5 THEN 'BatchDate'
			WHEN 6 THEN 'BatchType'
			WHEN 7 THEN 'SubmittedBy'
			WHEN 8 THEN 'SafeToHandle'
			WHEN 9 THEN 'BatchStatus'
			WHEN 10 THEN 'DateReceived'
			WHEN 11 THEN 'TimeReceived'
			WHEN 12 THEN 'ReceivedBy'
			WHEN 13 THEN 'OtherSubmittedBy'
			WHEN 14 THEN 'OtherSubmittedArea'
			WHEN 15 THEN 'Cassetted'
			WHEN 16 THEN 'Fixation'
			WHEN 17 THEN 'Comments'
			WHEN 18 THEN 'StatusComments'
			WHEN 19 THEN 'PostFixationOther'
			WHEN 20 THEN 'IsBlocked'
			WHEN 21 THEN 'CustomerReceivedDate'
			WHEN 22 THEN 'DateCompleted'
			WHEN 23 THEN 'SubmittedArea'
			WHEN 24 THEN 'SampleSameProjects'
			WHEN 25 THEN 'AllTissuesAssigned'
		END

		SET @columnVALUE = CASE @columnCount 
			WHEN 1 THEN CONVERT(varchar(500), @ID)
			WHEN 2 THEN CONVERT(varchar(500), @ProjectContractCode)
			WHEN 3 THEN CONVERT(varchar(500), @ContactName)
			WHEN 4 THEN CONVERT(varchar(500), @Species)
			WHEN 5 THEN CONVERT(varchar(500), @BatchDate)
			WHEN 6 THEN CONVERT(varchar(500), @BatchType)
			WHEN 7 THEN CONVERT(varchar(500), @SubmittedBy)
			WHEN 8 THEN CONVERT(varchar(500), @SafeToHandle)
			WHEN 9 THEN CONVERT(varchar(500), @BatchStatus)
			WHEN 10 THEN CONVERT(varchar(500), @DateReceived)
			WHEN 11 THEN CONVERT(varchar(500), @TimeReceived)
			WHEN 12 THEN CONVERT(varchar(500), @ReceivedBy)
			WHEN 13 THEN CONVERT(varchar(500), @OtherSubmittedBy)
			WHEN 14 THEN CONVERT(varchar(500), @OtherSubmittedArea)
			WHEN 15 THEN CONVERT(varchar(500), @Cassetted)
			WHEN 16 THEN CONVERT(varchar(500), @Fixation)
			WHEN 17 THEN CONVERT(varchar(500), @Comments)
			WHEN 18 THEN CONVERT(varchar(500), @StatusComments)
			WHEN 19 THEN CONVERT(varchar(500), @PostFixationOther)
			WHEN 20 THEN CONVERT(varchar(500), @IsBlocked)
			WHEN 21 THEN CONVERT(varchar(500), @CustomerReceivedDate)
			WHEN 22 THEN CONVERT(varchar(500), @DateCompleted)
			WHEN 23 THEN CONVERT(varchar(500), @SubmittedArea)
			WHEN 24 THEN CONVERT(varchar(500), @SampleSameProjects)
			WHEN 25 THEN CONVERT(varchar(500), @AllTissuesAssigned)
		END

		SET @oldColumnValue = CASE @columnCount
			WHEN 1 THEN CONVERT(varchar(500), @ID)
			WHEN 2 THEN @oldColumnValue2
			WHEN 3 THEN @oldColumnValue3
			WHEN 4 THEN @oldColumnValue4
			WHEN 5 THEN @oldColumnValue5
			WHEN 6 THEN @oldColumnValue6
			WHEN 7 THEN @oldColumnValue7
			WHEN 8 THEN @oldColumnValue8
			WHEN 9 THEN @oldColumnValue9
			WHEN 10 THEN @oldColumnValue10
			WHEN 11 THEN @oldColumnValue11
			WHEN 12 THEN @oldColumnValue12
			WHEN 13 THEN @oldColumnValue13
			WHEN 14 THEN @oldColumnValue14
			WHEN 15 THEN @oldColumnValue15
			WHEN 16 THEN @oldColumnValue16
			WHEN 17 THEN @oldColumnValue17
			WHEN 18 THEN @oldColumnValue18
			WHEN 19 THEN @oldColumnValue19
			WHEN 20 THEN @oldColumnValue20
			WHEN 21 THEN @oldColumnValue21
			WHEN 22 THEN @oldColumnValue22
			WHEN 23 THEN @oldColumnValue23
			WHEN 24 THEN @oldColumnValue24
			WHEN 25 THEN @oldColumnValue25
		END
		

		IF @oldColumnValue <> @columnValue AND @BatchStatus<>1  AND NOT @oldColumnValue IS NULL BEGIN
			INSERT INTO AuditLog 
				(ID, TableName, FieldName, LogDate, UserID, BeforeValue , AfterValue, Reason)
			VALUES
		        	(@ID, 'Batch', @columnName, getDate(), @UserID, @oldColumnValue, @columnValue, 'SubmissionEdit')
		END

		SET @columnCount = @columnCount + 1
	END

	SELECT @ErrorCode = @@ERROR, @RowsUpdated = @@ROWCOUNT

	IF @ErrorCode = 0 BEGIN
		IF @RowsUpdated = 0 BEGIN
		    RETURN -1
	END ELSE BEGIN
		    RETURN 0
	END
	END ELSE BEGIN
		RETURN @ErrorCode
	END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[EditBatch]  TO [HistologyUser]
GO

