SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetTestAntibodiesCounts]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetTestAntibodiesCounts]
GO

CREATE PROCEDURE GetTestAntibodiesCounts
	@ProjectContractCode varchar(20) = '',
	@SubmittedDateFrom datetime,
	@SubmittedDateTo datetime,
	@Code varchar(10) = '',
	@TCCode varchar(10) = '',
	@BatchType bit =0
AS

DECLARE @NumberOfSlides integer
SET @NumberOfSlides = (SELECT DISTINCT dbo.BlockAntibodies.NumberOfSlides
FROM         dbo.BatchBlock INNER JOIN
                      dbo.BlockAntibodies ON dbo.BatchBlock.ID = dbo.BlockAntibodies.BlockID INNER JOIN
                      dbo.Batch ON dbo.BatchBlock.BatchID = dbo.Batch.ID INNER JOIN
                      dbo.AntibodiesTCCodes ON dbo.BlockAntibodies.ID = dbo.AntibodiesTCCodes.TestID
WHERE  	BlockAntibodies.Dispatched = 1 AND
		ISNULL(Batch.ProjectContractCode,'') = @ProjectContractCode AND 
		ISNULL(BatchDate, '1 January 1900') BETWEEN ISNULL(@SubmittedDateFrom, '1 January 1900') AND ISNULL(@SubmittedDateTo, GETDATE()) AND
		AntibodiesTCCodes.Code = @TCCode AND	
		Batch.BatchType = @BatchType AND
		BlockAntibodies.Code = @Code)

SELECT     *
FROM         dbo.BatchBlock INNER JOIN
                      dbo.BlockAntibodies ON dbo.BatchBlock.ID = dbo.BlockAntibodies.BlockID INNER JOIN
                      dbo.Batch ON dbo.BatchBlock.BatchID = dbo.Batch.ID INNER JOIN
                      dbo.AntibodiesTCCodes ON dbo.BlockAntibodies.ID = dbo.AntibodiesTCCodes.TestID
WHERE  	BlockAntibodies.Dispatched = 1 AND
		ISNULL(Batch.ProjectContractCode,'') = @ProjectContractCode AND 
		ISNULL(BatchDate, '1 January 1900') BETWEEN ISNULL(@SubmittedDateFrom, '1 January 1900') AND ISNULL(@SubmittedDateTo, GETDATE()) AND
		AntibodiesTCCodes.Code = @TCCode AND	
		Batch.BatchType = @BatchType AND
		BlockAntibodies.Code = @Code
RETURN @@RowCount * @NumberOfSlides
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetTestAntibodiesCounts]  TO [HistologyUser]
GO

