SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetBatchSenderRefs]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetBatchSenderRefs]
GO

CREATE PROCEDURE GetBatchSenderRefs
	@ID integer
AS
SELECT
	[Animal].[ID],
	[Animal].[SenderRef],
	[Animal].[HistologyRef]
FROM 
	[BatchSubmission] INNER JOIN [Animal] ON [Animal].[ID] = [BatchSubmission].[AnimalID]
WHERE 
	[BatchSubmission].[BatchID] = @ID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetBatchSenderRefs]  TO [HistologyUser]
GO

