SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetUsersByUserArea]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetUsersByUserArea]
GO

CREATE PROCEDURE GetUsersByUserArea
	@UserArea varchar(10)
AS
SELECT
	[ID],
	[NTLogin],
	[Name],
	[Email],
	[UserGroup],
	[UserArea],
	[Active]
FROM
	[User]
WHERE
	[UserArea] = @UserArea
ORDER BY
	[Name]
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetUsersByUserArea]  TO [HistologyUser]
GO

