SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetQCNoteAntibodiesInformation]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetQCNoteAntibodiesInformation]
GO

CREATE PROCEDURE GetQCNoteAntibodiesInformation
	@QCNoteRef integer,
	@SubmissionType integer
AS
	IF @SubmissionType = 0 BEGIN
		SELECT     
			[BatchBlock].[BlockRef], 
			[Animal].[SenderRef],
			[Animal].[HistologyRef],
			[luTSEAntibodies].[Description],
			CONVERT(varchar(30), [QCNotes].[DateCreated],103) AS DateCreated,
			[QCNotes].[QCText],
			[QCNotes].[RowStamp],
			[User].[Name]
		FROM         
			[Batch] INNER JOIN [BatchBlock] ON [BatchBlock].[BatchID] = [Batch].[ID]
			INNER JOIN [Animal] ON [BatchBlock].[AnimalID] = [Animal].[ID]
			INNER JOIN [BlockAntibodies] ON [BlockAntibodies].[BlockID] = [BatchBlock].[ID]
			INNER JOIN [luTSEAntibodies] ON [luTSEAntibodies].[Code] = [BlockAntibodies].[Code] 
			LEFT JOIN [QCNotes] ON [QCNotes].[ID] = [BlockAntibodies].[QCNoteRef]
			LEFT JOIN [User] ON [User].[ID] = [QCNotes].[CreatedBy] 
		WHERE 
			[BlockAntibodies].[QCNoteRef] = @QCNoteRef
	END
	ELSE
		SELECT     
			[BatchBlock].[BlockRef], 
			[Animal].[SenderRef],
			[Animal].[HistologyRef],
			[luNonTSEAntibodies].[Description],
			CONVERT(varchar(30), [QCNotes].[DateCreated],103) AS DateCreated,
			[QCNotes].[QCText],
			[QCNotes].[RowStamp],
			[User].[Name]
		FROM         
			[Batch] INNER JOIN [BatchBlock] ON [BatchBlock].[BatchID] = [Batch].[ID]
			INNER JOIN [Animal] ON [BatchBlock].[AnimalID] = [Animal].[ID]
			INNER JOIN [BlockAntibodies] ON [BlockAntibodies].[BlockID] = [BatchBlock].[ID]
			INNER JOIN [luNonTSEAntibodies] ON [luNonTSEAntibodies].[Code] = [BlockAntibodies].[Code]
			LEFT JOIN [QCNotes] ON [QCNotes].[ID] = [BlockAntibodies].[QCNoteRef]
			LEFT JOIN [User] ON [User].[ID] = [QCNotes].[CreatedBy] 
		WHERE 
			[BlockAntibodies].[QCNoteRef] = @QCNoteRef
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetQCNoteAntibodiesInformation]  TO [HistologyUser]
GO

