SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetSearchBatchDetails]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetSearchBatchDetails]
GO

CREATE PROCEDURE GetSearchBatchDetails
	@SubmittedBy integer = null,
	@ProjectContractCode varchar(20) = '',
	@ContactName varchar(20) = '',
	@Species varchar(10) = '',
	@SubmittedArea varchar(10) = '',
	@Fixation varchar(10) = '',
	@Status  integer = null,
	@SubmittedDateFrom datetime,
	@SubmittedDateTo datetime,
	@ReceivedDateFrom datetime,
	@ReceivedDateTo datetime,
	@Number integer = null,
	@HistologyRef varchar(20) = '',
	@SenderRef varchar(20) = '',
	@EnteredBy integer = null 
AS
			SELECT DISTINCT
				[Batch].[ID],
				[luProjects].[Description] AS ProjectDescription, 
				[luContacts].[Description] AS ContactDescription,
				CONVERT(varchar(30), [Batch].[BatchDate],103) AS BatchDate,
				[Batch].[BatchType],
				[UserB].[Name] AS SubmittedBy,
				[Batch].[SafeToHandle], 
				CONVERT(varchar(30), [Batch].[DateReceived], 103) AS DateReceived,
				[UserC].[Name] AS ReceivedBy,
				[UserA].[Name] AS OtherSubmittedBy,
				[luFixatives].[Description] AS Fixation,
				[AreaA].[Description] AS OtherSubmittedArea,
				[Batch].[Cassetted],
				[Batch].[Comments],
				[Batch].[CustomerReceivedDate],
				[luStatus].[Description] AS Status,
				CONVERT(varchar(30), [Batch].[DateCompleted],103) As DateCompleted,
				[luTimeReceived].[Description] AS ReceivedTime,	
				[tblSpecies].[Species],
				[AreaB].[Description] AS SubmittedArea,
				[Batch].[BatchStatus]
			FROM
				Batch LEFT JOIN luTimeReceived ON [luTimeReceived].[Code] = [Batch].[TimeReceived]
				LEFT JOIN DEFACPVWPSQL001.TSE_VLA.dbo.tlkpSpecies tblSpecies ON  Convert(varchar(10), tblSpecies.SpeciesID, 103) = Batch.Species
				LEFT JOIN UNION_BATCH ON Batch.ID = [UNION_BATCH].[BatchID]
				LEFT JOIN luStatus ON [luStatus].[Code] = [Batch].[BatchStatus]
				LEFT JOIN luProjects ON [luProjects].[ID] = [Batch].[ProjectContractCode]
				LEFT JOIN luContacts ON [luContacts].[ID] = [Batch].[ContactName]
				LEFT JOIN [User] AS UserA ON [UserA].[ID] = [Batch].[OtherSubmittedBy]
				LEFT JOIN [User] AS UserB ON [UserB].[ID] = [Batch].[SubmittedBy]
				LEFT JOIN [User] AS UserC ON [UserC].[ID] = [Batch].[ReceivedBy]
				LEFT JOIN luUserArea AS AreaA ON [AreaA].[Code] = [Batch].[OtherSubmittedArea]
				LEFT JOIN luUserArea AS AreaB ON [AreaB].[Code] = [Batch].[SubmittedArea]
				LEFT JOIN luFixatives ON [luFixatives].[Code] = [Batch].[Fixation]
			WHERE
				ISNULL(Batch.ProjectContractCode,'') LIKE '%' + @ProjectContractCode + '%' AND
				ISNULL(Batch.ContactName,'') LIKE '%' + @ContactName + '%' AND
				ISNULL(Batch.Species,'') LIKE '%' + @Species AND 
				ISNULL(Batch.OtherSubmittedArea,'') LIKE '%' + @SubmittedArea + '%' AND 
				ISNULL(Batch.Fixation,'') LIKE  @Fixation  + '%' AND
				ISNULL(BatchDate, '1 January 1900') BETWEEN ISNULL(@SubmittedDateFrom, '1 January 1900') AND ISNULL(@SubmittedDateTo, GETDATE()+7) AND
				ISNULL(DateReceived, '1 January 1900') BETWEEN ISNULL(@ReceivedDateFrom, '1 January 1900') AND ISNULL(@ReceivedDateTo, GETDATE()+7) AND
				ISNULL(UNION_BATCH.HistologyRef, '') LIKE '%' + @HistologyRef + '%' AND
				ISNULL(UNION_BATCH.SenderRef, '') LIKE '%' + @SenderRef + '%' AND(
				([Batch].[ID] = @Number OR @Number  IS NULL) AND
				([Batch].[SubmittedBy]  = @EnteredBy OR @EnteredBy IS NULL) AND
				([Batch].[OtherSubmittedBy] = @SubmittedBy OR @SubmittedBy IS NULL) AND
				([Batch].[BatchStatus] = @Status OR @Status IS NULL))
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetSearchBatchDetails]  TO [HistologyUser]
GO

