SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetBatchSubmittedAs]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetBatchSubmittedAs]
GO

CREATE PROCEDURE GetBatchSubmittedAs
	@ID integer
AS	
SELECT
	[BatchSubmittedAs].[ID],
	[BatchSubmittedAs].[BatchID],
	[BatchSubmittedAs].[Code]
FROM 
	[Batch] INNER JOIN [BatchSubmittedAs] ON [BatchSubmittedAs].[BatchID] = [Batch].[ID]
WHERE 
	[Batch].[ID] = @ID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetBatchSubmittedAs]  TO [HistologyUser]
GO

