SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetNextHistologyRef]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetNextHistologyRef]
GO

CREATE PROCEDURE GetNextHistologyRef
	@Type integer,
	@NextHistologyRef varchar(5) OUTPUT,
	@RowStamp timestamp OUTPUT
AS

SELECT
	@NextHistologyRef =[NextHistologyRef],
	@RowStamp = [RowStamp]
FROM
	[HistologyRef]
WHERE
	[Type] = @Type
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetNextHistologyRef]  TO [HistologyUser]
GO

