SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetContactsArea]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetContactsArea]
GO

CREATE PROCEDURE GetContactsArea
	@Area varchar(10)
AS

SELECT 
	[ID],
	[Description],
	[IsActive]
FROM
	luContacts
WHERE 
	[Area]=@Area AND [IsActive] = 1
ORDER BY
	[Description]
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetContactsArea]  TO [HistologyUser]
GO

