SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetBatchStain]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetBatchStain]
GO

CREATE PROCEDURE GetBatchStain
	@ID integer
AS	
SELECT
	[BatchStain].[ID],
	[BatchStain].[BatchID],
	[BatchStain].[Code]
FROM 
	[Batch] INNER JOIN [BatchStain] ON [BatchStain].[BatchID] = [Batch].[ID]
WHERE 
	[Batch].[ID] = @ID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetBatchStain]  TO [HistologyUser]
GO

