SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetluHistology]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetluHistology]
GO

CREATE PROCEDURE GetluHistology
AS

SELECT 
	[ID],
	[Code],
	[Description]
FROM 
	luHistology
WHERE 
	Active = 1

ORDER BY
	[Description]

RETURN
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetluHistology]  TO [HistologyUser]
GO

