SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AddBatch]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AddBatch]
GO

CREATE PROCEDURE AddBatch
	@ProjectContractCode int,
	@ContactName int,
	@Species varchar(10),
	@BatchDate datetime,
	@BatchType int,
	@SubmittedBy int,
	@SafeToHandle bit,
	@BatchStatus integer,
	@OtherSubmittedBy int,
	@OtherSubmittedArea varchar(10),
	@Fixation varchar(10),
	@Comments varchar(500),
	@Cassetted bit,
	@IsBlocked bit,
	@CustomerReceivedDate datetime,
	@SubmittedArea varchar(10),
	@SampleSameProjects bit,
	@BatchID int OUTPUT
AS
DECLARE
        @ErrorCode int

INSERT INTO Batch
	(ProjectContractCode, ContactName, Species, BatchDate, BatchType, SubmittedBy, SafeToHandle, BatchStatus,
	OtherSubmittedBy, OtherSubmittedArea, Fixation, Comments, Cassetted, IsBlocked,  CustomerReceivedDate, SubmittedArea, SampleSameProjects)
VALUES
        	(@ProjectContractCode,@ContactName, @Species, @BatchDate, @BatchType, @SubmittedBy, @SafeToHandle, @BatchStatus,
	@OtherSubmittedBy, @OtherSubmittedArea, @Fixation, @Comments, @Cassetted, @IsBlocked, @CustomerReceivedDate, @SubmittedArea, @SampleSameProjects)
	
SET @ErrorCode = @@Error
    
IF @ErrorCode = 0
	BEGIN
	SET @BatchID = SCOPE_IDENTITY()  
	RETURN 0
END 
ELSE 
	BEGIN
	RETURN @ErrorCode
END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[AddBatch]  TO [HistologyUser]
GO

