SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[DeleteAntibodiesTCCode]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[DeleteAntibodiesTCCode]
GO

CREATE PROCEDURE DeleteAntibodiesTCCode
	@ID int
AS

DECLARE 
	@ErrorCode int, 
	@RowsUpdated int

	DELETE FROM [AntibodiesTCCodes] WHERE ID=@ID

	SELECT @ErrorCode = @@ERROR, @RowsUpdated = @@ROWCOUNT

	IF @ErrorCode = 0 BEGIN
		IF @RowsUpdated = 0 BEGIN
		RETURN -1
	END ELSE BEGIN
		RETURN 0
	END
	END ELSE BEGIN
		RETURN @ErrorCode
	END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[DeleteAntibodiesTCCode]  TO [HistologyUser]
GO

