SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetluProjectsAll]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetluProjectsAll]
GO

CREATE PROCEDURE GetluProjectsAll 
AS

SELECT * FROM luProjects

ORDER BY
	[Description]
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetluProjectsAll]  TO [HistologyUser]
GO

