SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetBatchBlockDetails]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetBatchBlockDetails]
GO

CREATE PROCEDURE GetBatchBlockDetails
	@ID integer
AS	
SELECT
	[BatchBlock].[ID],
	[BatchBlock].[BatchID],
	[BatchBlock].[AnimalID],
	[BatchBlock].[BlockRef],
	[BatchBlock].[CustomerRef],
	[BatchBlock].[RepeatBlock],
	[BatchBlock].[ArchiveLocation],
	[BatchBlock].[ArchivedDate],
	[BatchBlock].[ArchiveComment],
	[BatchBlock].[Comment]
FROM 
	[Batch] INNER JOIN [BatchBlock] ON [BatchBlock].[BatchID] = [Batch].[ID]
WHERE 
	[Batch].[ID] = @ID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetBatchBlockDetails]  TO [HistologyUser]
GO

