SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetBatchTissues]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetBatchTissues]
GO

CREATE PROCEDURE GetBatchTissues
	@ID integer
AS
SELECT
	[BatchSubmission].[AnimalID],
	[BatchTissues].[ID],
	[BatchTissues].[BatchSubmissionID],
	[BatchTissues].[TissueCode],
	[BatchTissues].[NoPieces],
	[BatchTissues].[Comment],
	[luTissueType].[Code] + [luTissueType].[Description] as [Description],
	[BatchTissues].[ArchiveLocation],
	[BatchTissues].[ArchivedDate],
	[BatchTissues].[ArchiveComment],
	[BatchTissues].[RowStamp]
FROM 
	[Batch] INNER JOIN [BatchSubmission] ON [BatchSubmission].[BatchID] = [Batch].[ID]
	INNER JOIN [BatchTissues] ON [BatchTissues].[BatchSubmissionID] = [BatchSubmission].[ID]
	INNER JOIN [luTissueType] ON [luTissueType].[Code] = [BatchTissues].[TissueCode]
WHERE 
	[Batch].[ID] = @ID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetBatchTissues]  TO [HistologyUser]
GO

