SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AddSpecialStain]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AddSpecialStain]
GO

CREATE PROCEDURE AddSpecialStain
	@BatchID int,
	@Code varchar(10),
	@UserID int
AS
	DECLARE
		@ID int,
		@BatchStatus int
		
	INSERT INTO BatchStain
		(BatchID, Code)
	VALUES
		(@BatchID, @Code)
		
	/*
	SET @ID = SCOPE_IDENTITY()  

	SELECT 
		@BatchStatus = [Batch].[BatchStatus]
	FROM
		[Batch]
	WHERE 
		[Batch].[ID] = @BatchID

	IF @BatchStatus <> 1 BEGIN
		INSERT INTO AuditLog 
			(ID, TableName, FieldName, LogDate, UserID, BeforeValue , AfterValue, Reason)
		VALUES
			  (@ID, 'BatchStain','Code', getdate(),@UserID, '', @Code,'AddSpecialStain')
	END*/
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[AddSpecialStain]  TO [HistologyUser]
GO

