SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetEditableLookupProcs]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetEditableLookupProcs]
GO

CREATE PROCEDURE GetEditableLookupProcs
    @ID int
AS
    SELECT 
	[SelectStoredProcedure], 
	[UpdateStoredProcedure], 
	[InsertStoredProcedure], 
	[DeleteStoredProcedure]
    FROM 
	EditableLookup 
    WHERE 
	[ID] = @ID
RETURN
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetEditableLookupProcs]  TO [HistologyUser]
GO

