SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetBatchBlockStainIDs]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetBatchBlockStainIDs]
GO

CREATE PROCEDURE GetBatchBlockStainIDs
	@ID integer
AS
SELECT
	[BlockStain].[ID]
FROM 
	[Batch] INNER JOIN [BatchBlock] ON [BatchBlock].[BatchID] = [Batch].[ID]
	INNER JOIN [BlockStain] ON [BlockStain].[BlockID] = [BatchBlock].[ID]
WHERE 
	[Batch].[ID] = @ID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetBatchBlockStainIDs]  TO [HistologyUser]
GO

