SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetluPostFixation]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetluPostFixation]
GO

CREATE PROCEDURE GetluPostFixation
AS

	DECLARE @ttblPostFixation TABLE
	(
		[ID] int IDENTITY(1,1),
		[Code] varchar(10),
		[Description] varchar(50),
		[IsActive] bit
	)

	SET NOCOUNT ON

	INSERT INTO @ttblPostFixation
	(
		[Code],
		[Description],
		[IsActive]
	)

	SELECT 
		[Code],
		[Description],
		[IsActive]
	FROM 
		luPostFixation
	WHERE
		[IsActive] = 1
	ORDER BY 
		[Description]

	SELECT 
		[ID],
		[Code],
		[Description],
		[IsActive]
	FROM 
		@ttblPostFixation

	SET NOCOUNT OFF

RETURN
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetluPostFixation]  TO [HistologyUser]
GO

