SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetAllQCNotes]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetAllQCNotes]
GO

CREATE PROCEDURE GetAllQCNotes 
AS
	SELECT 
		[QCNotes].[ID]
	FROM	
		[QCNotes]
	ORDER BY
		[QCNotes].[ID] DESC
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetAllQCNotes]  TO [HistologyUser]
GO

