SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetBatchSampleTissues]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetBatchSampleTissues]
GO

CREATE PROCEDURE GetBatchSampleTissues
	@BatchID integer,
	@AnimalID integer
AS

SELECT DISTINCT
	[BatchTissues].[TissueCode] as [Code],
	[luTissueType].[Description],
	[luTissueType].[Code] +'  ' + '--' +' ' + [luTissueType].[Description] as [LongDescription],
	[BatchTissues].[ID],
	[BatchTissues].[NoPieces]

FROM  
	[Batch] INNER JOIN [BatchSubmission] ON [Batch].[ID] = [BatchSubmission].[BatchID] 
	INNER JOIN [Animal] ON [BatchSubmission].[AnimalID] = [Animal].[ID] 
	INNER JOIN [BatchTissues] ON [BatchSubmission].[ID] = [BatchTissues].[BatchSubmissionID] 
	INNER JOIN [luTissueType] ON [BatchTissues].[TissueCode] = [luTissueType].[Code]

WHERE [Batch].[ID] = @BatchID AND [BatchSubmission].[AnimalID] = @AnimalID
	
ORDER BY  [luTissueType].[Description]
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetBatchSampleTissues]  TO [HistologyUser]
GO

