SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[DeleteluQCCode]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[DeleteluQCCode]
GO

CREATE PROCEDURE DeleteluQCCode
	@Code varchar(10)
AS
	DECLARE 
		@ErrorCode int, 
		@RowsUpdated int

	DELETE FROM luQCCode WHERE [Code]=@Code

	SELECT @ErrorCode = @@ERROR, @RowsUpdated = @@ROWCOUNT

	IF @ErrorCode = 0 BEGIN
		IF @RowsUpdated = 0 BEGIN
    		RETURN -1
	END ELSE BEGIN
    		RETURN 0
	END
	END ELSE BEGIN
		RETURN @ErrorCode
	END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[DeleteluQCCode]  TO [HistologyUser]
GO

