SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetProjectsArea]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetProjectsArea]
GO

CREATE PROCEDURE GetProjectsArea
	@Area varchar(10)
AS

SELECT 
	[ID],
	[Description],
	[IsActive]
FROM
	luProjects
WHERE 
	[Area]=@Area AND [IsActive] = 1
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetProjectsArea]  TO [HistologyUser]
GO

