SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetluRemedialAction]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetluRemedialAction]
GO

CREATE PROCEDURE GetluRemedialAction
AS

	DECLARE @ttblRemedialAction TABLE
	(
		[ID] int IDENTITY(1,1),
		[Code] varchar(15),
		[Description] varchar(50),
		[IsActive] bit
	)

	SET NOCOUNT ON

	INSERT INTO @ttblRemedialAction
	(
		[Code],
		[Description],
		[IsActive]
	)

	SELECT 
		[Code],
		[Description],
		[IsActive]
	FROM 
		luRemedialAction
	WHERE
		[IsActive] = 1
	ORDER BY 
		[Description]

	SELECT 
		[ID],
		[Code],
		[Description],
		[IsActive]
	FROM 
		@ttblRemedialAction

	SET NOCOUNT OFF

RETURN
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetluRemedialAction]  TO [HistologyUser]
GO

