SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetAuditLogByUser]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetAuditLogByUser]
GO


CREATE PROCEDURE GetAuditLogByUser
	@StartDate datetime,
	@EndDate datetime,
	@UserID int AS

	SELECT
		[AuditLog].[ID],
		[AuditLog].[TableName],
		[AuditLog].[FieldName],
		CONVERT(varchar(30),[AuditLog].[LogDate], 103) + ' ' + CONVERT(varchar(30), [AuditLog].[LogDate], 108) AS [DateTime],
		[User].[Name] AS [UserName],
		[AuditLog].[BeforeValue],
		[AuditLog].[AfterValue],
		[AuditLog].[Reason],
		[AuditLog].[KeyID]
	FROM
		[AuditLog] INNER JOIN [User] ON [AuditLog].[UserID] = [User].[ID]
	WHERE
		[LogDate] BETWEEN @StartDate AND DATEADD(d, 1, @EndDate) AND
		[AuditLog].[UserID] = @UserID
	ORDER BY
		[LogDate]
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetAuditLogByUser]  TO [HistologyUser]
GO

