SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetBlockStainTCCodes]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetBlockStainTCCodes]
GO

CREATE PROCEDURE GetBlockStainTCCodes
	@ID integer
AS
SELECT
	[SpecialStainTCCodes].[ID],
	[SpecialStainTCCodes].[TestID],
	[SpecialStainTCCodes].[Code]
FROM 
	[Batch] INNER JOIN [BatchBlock] ON [BatchBlock].[BatchID] = [Batch].[ID]
	INNER JOIN [BlockStain] ON [BlockStain].[BlockID] = [BatchBlock].[ID]
	INNER JOIN [SpecialStainTCCodes] ON [SpecialStainTCCodes].[TestID]  = [BlockStain].[ID]
WHERE 
	[Batch].[ID] = @ID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetBlockStainTCCodes]  TO [HistologyUser]
GO

