SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetTestStainsCounts]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetTestStainsCounts]
GO

CREATE PROCEDURE GetTestStainsCounts
	@ProjectContractCode varchar(20) = '',
	@SubmittedDateFrom datetime,
	@SubmittedDateTo datetime,
	@Code varchar(10) = '',
	@TCCode varchar(10) = '',
	@BatchType bit =0
AS

DECLARE @NumberOfSlides integer
SET @NumberOfSlides = (SELECT DISTINCT dbo.BlockStain.NumberOfSlides
FROM         dbo.BatchBlock INNER JOIN
                      dbo.BlockStain ON dbo.BatchBlock.ID = dbo.BlockStain.BlockID INNER JOIN
                      dbo.Batch ON dbo.BatchBlock.BatchID = dbo.Batch.ID INNER JOIN
                      dbo.SpecialStainTCCodes ON dbo.BlockStain.ID = dbo.SpecialStainTCCodes.TestID
WHERE  	BlockStain.Dispatched = 1 AND
		ISNULL(Batch.ProjectContractCode,'') = @ProjectContractCode AND 
		ISNULL(BatchDate, '1 January 1900') BETWEEN ISNULL(@SubmittedDateFrom, '1 January 1900') AND ISNULL(@SubmittedDateTo, GETDATE()) AND
		SpecialStainTCCodes.Code = @TCCode AND	
		Batch.BatchType = @BatchType AND
		BlockStain.Code = @Code)

SELECT     *
FROM         dbo.BatchBlock INNER JOIN
                      dbo.BlockStain ON dbo.BatchBlock.ID = dbo.BlockStain.BlockID INNER JOIN
                      dbo.Batch ON dbo.BatchBlock.BatchID = dbo.Batch.ID INNER JOIN
                      dbo.SpecialStainTCCodes ON dbo.BlockStain.ID = dbo.SpecialStainTCCodes.TestID
WHERE  	BlockStain.Dispatched = 1 AND
		ISNULL(Batch.ProjectContractCode,'') = @ProjectContractCode AND 
		ISNULL(BatchDate, '1 January 1900') BETWEEN ISNULL(@SubmittedDateFrom, '1 January 1900') AND ISNULL(@SubmittedDateTo, GETDATE()) AND
		SpecialStainTCCodes.Code = @TCCode AND	
		Batch.BatchType = @BatchType AND
		BlockStain.Code = @Code
RETURN @@RowCount * @NumberOfSlides
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetTestStainsCounts]  TO [HistologyUser]
GO

