SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetBatchBlockAntibodies]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetBatchBlockAntibodies]
GO

CREATE PROCEDURE GetBatchBlockAntibodies
	@ID integer
AS
SELECT
	[BlockAntibodies].[ID],
	[BlockAntibodies].[BlockID],
	[BlockAntibodies].[Code],
	[BlockAntibodies].[Result],
	[BlockAntibodies].[QCCode],
	[BlockAntibodies].[QCNote],
	[BlockAntibodies].[QCNoteRef],
	[BlockAntibodies].[StainRef],
	[BlockAntibodies].[DispatchedDate],
	[BlockAntibodies].[DispatchedBy],
	[BlockAntibodies].[EnteredBy],
	[BlockAntibodies].[PremiumCharge],
	[BlockAntibodies].[Dispatched],
	[BlockAntibodies].[DispatchedTo],
	[BlockAntibodies].[Comment],
	[BlockAntibodies].[RemedialAction],
	[BlockAntibodies].[ArchiveLocation],
	[BlockAntibodies].[ArchivedDate],
	[BlockAntibodies].[ArchiveComment],
	[BlockAntibodies].[NumberOfSlides],
	[BlockAntibodies].[RowStamp]
FROM 
	[Batch] INNER JOIN [BatchBlock] ON [BatchBlock].[BatchID] = [Batch].[ID]
	INNER JOIN [BlockAntibodies] ON [BlockAntibodies].[BlockID] = [BatchBlock].[ID]
WHERE 
	[Batch].[ID] = @ID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetBatchBlockAntibodies]  TO [HistologyUser]
GO

