SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetBatchDetails]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetBatchDetails]
GO

CREATE PROCEDURE GetBatchDetails
	@ID int
AS
SELECT 
	[Batch].[ID],
	[Batch].[ProjectContractCode],
	[Batch].[ContactName],
	[Batch].[Species],
	CONVERT(varchar(30), [Batch].[BatchDate],103) AS BatchDate,
	[Batch].[BatchType],
	[Batch].[SubmittedBy],
	[Batch].[SafeToHandle],
	[Batch].[BatchStatus],
	CONVERT(varchar(30), [Batch].[DateReceived], 103) AS DateReceived,
	[Batch].[TimeReceived],
	[Batch].[ReceivedBy],
	[Batch].[OtherSubmittedBy],
	[Batch].[Fixation],
	[Batch].[OtherSubmittedArea],
	[Batch].[PostFixationOther],
	[Batch].[Cassetted],
	[Batch].[Comments],
	[Batch].[StatusComments],
	[Batch].[PostFixationOther],
	[Batch].[IsBlocked],
	[Batch].[CustomerReceivedDate],
	[Batch].[DateCompleted],
	[Batch].[SubmittedArea],
	[Batch].[SampleSameProjects],
	[Batch].[AllTissuesAssigned],
	[Batch].[RowStamp]
FROM
	Batch WHERE ID=@ID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetBatchDetails]  TO [HistologyUser]
GO

