SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetBatchBlockAnimalIDs]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetBatchBlockAnimalIDs]
GO

CREATE PROCEDURE GetBatchBlockAnimalIDs
	@ID integer
AS	
SELECT DISTINCT
	[Animal].[ID]
FROM 
	[Batch] INNER JOIN [BatchBlock] ON [BatchBlock].[BatchID] = [Batch].[ID]
	INNER JOIN [Animal] ON [Animal].[ID] = [BatchBlock].[AnimalID]
WHERE 
	[Batch].[ID] = @ID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetBatchBlockAnimalIDs]  TO [HistologyUser]
GO

