SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetluPremiumChargesAll]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetluPremiumChargesAll]
GO

CREATE PROCEDURE GetluPremiumChargesAll
AS

	DECLARE @ttblPremiumCharges TABLE
	(
		[ID] int IDENTITY(1,1),
		[Code] varchar(15),
		[Description] varchar(50),
		[IsActive] bit
	)

	SET NOCOUNT ON

	INSERT INTO @ttblPremiumCharges
	(
		[Code],
		[Description],
		[IsActive]
	)

	SELECT 
		[Code],
		[Description],
		[IsActive]
	FROM 
		luPremiumCharges
	ORDER BY 
		[Description]
	

	SELECT 
		[ID],
		[Code],
		[Description],
		[IsActive]
	FROM 
		@ttblPremiumCharges

	SET NOCOUNT OFF

RETURN
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetluPremiumChargesAll]  TO [HistologyUser]
GO

