SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AddluRemedialAction]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AddluRemedialAction]
GO

CREATE PROCEDURE AddluRemedialAction
	@Code varchar(15),
	@Description varchar(50),
	@IsActive bit
AS
	INSERT INTO luRemedialAction
        		([Code], [Description], [IsActive])
	VALUES
		(@Code, @Description, @IsActive)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[AddluRemedialAction]  TO [HistologyUser]
GO

