SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetAuditLogBySubmission]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetAuditLogBySubmission]
GO

CREATE PROCEDURE GetAuditLogBySubmission
	@StartDate datetime,
	@EndDate datetime,
	@SubmissionID int AS

	SELECT
		[AuditLog].[ID],
		[AuditLog].[TableName],
		[AuditLog].[FieldName],
		CONVERT(varchar(30),[AuditLog].[LogDate], 103) + ' ' + CONVERT(varchar(30), [AuditLog].[LogDate], 108) AS [DateTime],
		[User].[Name] AS [UserName],
		[AuditLog].[BeforeValue],
		[AuditLog].[AfterValue],
		[AuditLog].[Reason],
		[AuditLog].[KeyID]
	FROM
		[AuditLog] LEFT JOIN [User] ON [AuditLog].[UserID] = [User].[ID]
	WHERE
		LogDate BETWEEN ISNULL(@StartDate, '1 January 1900') AND ISNULL(DATEADD(d, 1, @EndDate), DATEADD(d,1, GETDATE())) AND
		[AuditLog].[ID] = @SubmissionID
	ORDER BY
		[LogDate]
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetAuditLogBySubmission]  TO [HistologyUser]
GO

