SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetluSpecies]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetluSpecies]
GO

CREATE PROCEDURE GetluSpecies 

AS

	SELECT 
		* 
	FROM 
		DEFACPVWPSQL001.TSE_VLA.dbo.tlkpSpecies
	ORDER BY
		Species
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetluSpecies]  TO [HistologyUser]
GO

