SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetBatchAnimalIDs]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetBatchAnimalIDs]
GO

CREATE PROCEDURE GetBatchAnimalIDs
	@ID integer
AS	
SELECT
	[Animal].[ID]
FROM 
	[Batch] INNER JOIN [BatchSubmission] ON [BatchSubmission].[BatchID] = [Batch].[ID]
	INNER JOIN [Animal] ON [Animal].[ID] = [BatchSubmission].[AnimalID]
WHERE 
	[Batch].[ID] = @ID
ORDER BY 
	[Animal].[ID]
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetBatchAnimalIDs]  TO [HistologyUser]
GO

