SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[EditBlockTissue]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[EditBlockTissue]
GO

CREATE PROCEDURE EditBlockTissue
	@ID int,
	@BlockID int,
	@TissueCode varchar(20),
	@NoPieces smallint,
	@Comment varchar(500),
	@UserID integer,
	@RowStamp timestamp
AS
DECLARE 
	@ErrorCode int, 
	@RowsUpdated int ,
	@columnName  varchar(50),
	@columnValue varchar(500),
	@columnCount int,
	@oldColumnValue varchar(500), 
	@oldColumnValue1 varchar(500), @oldColumnValue2 varchar(500), @oldColumnValue3 varchar(500), @oldColumnValue4 varchar(500), @oldColumnValue5 varchar(500),
	@RowCount int

	SET @oldColumnValue2 = CONVERT(varchar(500), (SELECT BlockID  FROM BlockTissues WHERE ID=@ID))
	SET @oldColumnValue3 = CONVERT(varchar(500), (SELECT TissueCode  FROM BlockTissues WHERE ID=@ID))
	SET @oldColumnValue4 = CONVERT(varchar(500), (SELECT NoPieces  FROM BlockTissues WHERE ID=@ID))
	SET @oldColumnValue5 = CONVERT(varchar(500), (SELECT Comment  FROM BlockTissues WHERE ID=@ID))
	
	
	UPDATE BlockTissues SET
		BlockID = @BlockID,
		TissueCode=@TissueCode,
		NoPieces=@NoPieces,
		Comment=@Comment
	WHERE
		ID=@ID AND RowStamp=@RowStamp

	IF @RowCount = 0 BEGIN
		RETURN 1
	END

	SELECT @ErrorCode = @@ERROR, @RowsUpdated = @@ROWCOUNT

	SET @columnCount = 1

	WHILE @columnCount < 6
	BEGIN
		SET @columnName = CASE @columnCount
			WHEN 1 THEN 'ID'
			WHEN 2 THEN 'BlockID'
			WHEN 3 THEN 'TissueCode'
			WHEN 4 THEN 'NoPieces'
			WHEN 5 THEN 'Comment'
		END

		SET @columnVALUE = CASE @columnCount 
			WHEN 1 THEN CONVERT(varchar(500), @ID)
			WHEN 2 THEN CONVERT(varchar(500), @BlockID)
			WHEN 3 THEN CONVERT(varchar(500), @TissueCode)
			WHEN 4 THEN CONVERT(varchar(500), @NoPieces)
			WHEN 5 THEN CONVERT(varchar(500), @Comment)
		END

		SET @oldColumnValue = CASE @columnCount
			WHEN 1 THEN CONVERT(varchar(500), @ID)
			WHEN 2 THEN @oldColumnValue2
			WHEN 3 THEN @oldColumnValue3
			WHEN 4 THEN @oldColumnValue4
			WHEN 5 THEN @oldColumnValue5
		END
		

		IF @oldColumnValue <> @columnValue  AND NOT @oldColumnValue IS NULL BEGIN
			INSERT INTO AuditLog 
				(ID, TableName, FieldName, LogDate, UserID, BeforeValue , AfterValue, Reason)
			VALUES
		        	(@ID, 'BlockTissue', @columnName, getDate(), @UserID, @oldColumnValue, @columnValue, 'EditBlockTissues')
		END

		SET @columnCount = @columnCount + 1
	END

	IF @ErrorCode = 0 BEGIN
		IF @RowsUpdated = 0 BEGIN
		    RETURN -1
	END ELSE BEGIN
		    RETURN 0
	END
	END ELSE BEGIN
		RETURN @ErrorCode
	END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[EditBlockTissue]  TO [HistologyUser]
GO

