SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetBatchBlockStain]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetBatchBlockStain]
GO

CREATE PROCEDURE GetBatchBlockStain
	@ID integer
AS
SELECT
	[BlockStain].[ID],
	[BlockStain].[BlockID],
	[BlockStain].[Code],
	[BlockStain].[Result],
	[BlockStain].[QCCode],
	[BlockStain].[QCNote],
	[BlockStain].[QCNoteRef],
	[BlockStain].[StainRef],
	[BlockStain].[DispatchedDate],
	[BlockStain].[DispatchedBy],
	[BlockStain].[EnteredBy],
	[BlockStain].[PremiumCharge],
	[BlockStain].[Dispatched],
	[BlockStain].[DispatchedTo],
	[BlockStain].[Comment],
	[BlockStain].[RemedialAction],
	[BlockStain].[ArchiveLocation],
	[BlockStain].[ArchivedDate],
	[BlockStain].[ArchiveComment],
	[BlockStain].[NumberOfSlides],
	[BlockStain].[RowStamp]
FROM 
	[Batch] INNER JOIN [BatchBlock] ON [BatchBlock].[BatchID] = [Batch].[ID]
	INNER JOIN [BlockStain] ON [BlockStain].[BlockID] = [BatchBlock].[ID]
WHERE 
	[Batch].[ID] = @ID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetBatchBlockStain]  TO [HistologyUser]
GO

