SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetBatchBlockTissues]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetBatchBlockTissues]
GO

CREATE PROCEDURE GetBatchBlockTissues
	@ID integer
AS
SELECT
	[BlockTissues].[ID],
	[BlockTissues].[BlockID],
	[BlockTissues].[TissueCode],
	[BlockTissues].[NoPieces],
	[BlockTissues].[Comment],
	[BlockTissues].[RowStamp]
FROM 
	[Batch] INNER JOIN [BatchBlock] ON [BatchBlock].[BatchID] = [Batch].[ID]
	INNER JOIN [BlockTissues] ON [BlockTissues].[BlockID] = [BatchBlock].[ID]
WHERE 
	[Batch].[ID] = @ID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetBatchBlockTissues]  TO [HistologyUser]
GO

