SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[EditBlock]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[EditBlock]
GO

CREATE PROCEDURE EditBlock
	@ID int,
	@BatchID int,
	@AnimalID int,
	@BlockRef varchar(4),
	@CustomerRef varchar(20),
	@RepeatBlock bit,
	@ArchiveLocation varchar(10),
	@ArchivedDate datetime,
	@ArchiveComment varchar(500),
	@Comment varchar(500),
	@UserID int
AS
DECLARE 
	@ErrorCode int, 
	@RowsUpdated int,
	@columnName  varchar(50),
	@columnValue varchar(500),
	@columnCount int,
	@oldColumnValue varchar(500), 
	@BatchStatus int,
	@oldColumnValue1 varchar(500), @oldColumnValue2 varchar(500), @oldColumnValue3 varchar(500), @oldColumnValue4 varchar(500), @oldColumnValue5 varchar(500), 
	@oldColumnValue6 varchar(500), @oldColumnValue7 varchar(500), @oldColumnValue8 varchar(500), @oldColumnValue9 varchar(500), @oldColumnValue10 varchar(500)

	SET @oldColumnValue2 = CONVERT(varchar(500), (SELECT BatchID  FROM BatchBlock WHERE ID=@ID))
	SET @oldColumnValue3 = CONVERT(varchar(500), (SELECT AnimalID  FROM BatchBlock WHERE ID=@ID))
	SET @oldColumnValue4 = CONVERT(varchar(500), (SELECT BlockRef  FROM BatchBlock WHERE ID=@ID))
	SET @oldColumnValue5 = CONVERT(varchar(500), (SELECT CustomerRef  FROM BatchBlock WHERE ID=@ID))
	SET @oldColumnValue6 = CONVERT(varchar(500), (SELECT RepeatBlock  FROM BatchBlock WHERE ID=@ID))
	SET @oldColumnValue7 = CONVERT(varchar(500), (SELECT ArchiveLocation  FROM BatchBlock WHERE ID=@ID))
	SET @oldColumnValue8 = CONVERT(varchar(500), (SELECT ArchivedDate  FROM BatchBlock WHERE ID=@ID))
	SET @oldColumnValue9 = CONVERT(varchar(500), (SELECT ArchiveComment  FROM BatchBlock WHERE ID=@ID))
	SET @oldColumnValue10 = CONVERT(varchar(500), (SELECT Comment  FROM BatchBlock WHERE ID=@ID))

	UPDATE BatchBlock SET
		BatchID = @BatchID,
		AnimalID =@AnimalID,
		BlockRef =@BlockRef,
		CustomerRef=@CustomerRef,
		RepeatBlock=@RepeatBlock,
		ArchiveLocation=@ArchiveLocation,
		ArchivedDate=@ArchivedDate,
		ArchiveComment=@ArchiveComment,
		Comment=@Comment
	WHERE
		ID=@ID

	SELECT @ErrorCode = @@ERROR, @RowsUpdated = @@ROWCOUNT

	SET @columnCount = 1

	SET @BatchStatus = (SELECT BatchStatus FROM Batch WHERE ID=@BatchID)
	IF @BatchStatus <>1 BEGIN

		WHILE @columnCount < 11
		BEGIN
			SET @columnName = CASE @columnCount
				WHEN 1 THEN 'ID'
				WHEN 2 THEN 'BatchID'
				WHEN 3 THEN 'AnimalID'
				WHEN 4 THEN 'BlockRef'
				WHEN 5 THEN 'CustomerRef'
				WHEN 6 THEN 'RepeatBlock'
				WHEN 7 THEN 'ArchiveLocation'
				WHEN 8 THEN 'ArchivedDate'
				WHEN 9 THEN 'ArchiveComment'
				WHEN 10 THEN 'Comment'
			END
	
			SET @columnVALUE = CASE @columnCount 
				WHEN 1 THEN CONVERT(varchar(500), @ID)
				WHEN 2 THEN CONVERT(varchar(500), @BatchID)
				WHEN 3 THEN CONVERT(varchar(500), @AnimalID)
				WHEN 4 THEN CONVERT(varchar(500), @BlockRef)
				WHEN 5 THEN CONVERT(varchar(500), @CustomerRef)
				WHEN 6 THEN CONVERT(varchar(500), @RepeatBlock)
				WHEN 7 THEN CONVERT(varchar(500), @ArchiveLocation)
				WHEN 8 THEN CONVERT(varchar(500), @ArchivedDate)
				WHEN 9 THEN CONVERT(varchar(500), @ArchiveComment)
				WHEN 10 THEN CONVERT(varchar(500), @Comment)
			END
	
			SET @oldColumnValue = CASE @columnCount
				WHEN 1 THEN CONVERT(varchar(500), @ID)
				WHEN 2 THEN @oldColumnValue2
				WHEN 3 THEN @oldColumnValue3
				WHEN 4 THEN @oldColumnValue4
				WHEN 5 THEN @oldColumnValue5
				WHEN 6 THEN @oldColumnValue6
				WHEN 7 THEN @oldColumnValue7
				WHEN 8 THEN @oldColumnValue8
				WHEN 9 THEN @oldColumnValue9
				WHEN 10 THEN @oldColumnValue10
			END
			
	
			IF @oldColumnValue <> @columnValue AND NOT @oldColumnValue IS NULL BEGIN
				INSERT INTO AuditLog 
					(ID, TableName, FieldName, LogDate, UserID, BeforeValue , AfterValue, Reason)
				VALUES
			        	(@ID, 'BatchBlock', @columnName, GetDate(), @UserID, @oldColumnValue, @columnValue, 'BlockEdit')
			END
	
			SET @columnCount = @columnCount + 1
		END

	END

	IF @ErrorCode = 0 BEGIN
		IF @RowsUpdated = 0 BEGIN
		    RETURN -1
	END ELSE BEGIN
		    RETURN 0
	END
	END ELSE BEGIN
		RETURN @ErrorCode
	END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[EditBlock]  TO [HistologyUser]
GO

