SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetBatchHistology]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetBatchHistology]
GO

CREATE PROCEDURE GetBatchHistology
	@ID integer
AS	
SELECT
	[BatchHistology].[ID],
	[BatchHistology].[BatchID],
	[BatchHistology].[Code]
FROM 
	[Batch] INNER JOIN [BatchHistology] ON [BatchHistology].[BatchID] = [Batch].[ID]
WHERE 
	[Batch].[ID] = @ID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetBatchHistology]  TO [HistologyUser]
GO

