SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetBlocksForHistoRef]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetBlocksForHistoRef]
GO

CREATE PROCEDURE GetBlocksForHistoRef 
	@HistologyRef varchar(20)
AS
	SELECT DISTINCT
		Convert(int, [BatchBlock].[BlockRef]) AS BlockRef
	FROM  
		[BatchBlock] INNER JOIN [Animal] ON [BatchBlock].[AnimalID] = [Animal].[ID]
	WHERE 
		[Animal].[HistologyRef] = @HistologyRef
	ORDER BY
		BlockRef
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetBlocksForHistoRef]  TO [HistologyUser]
GO

