SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetBatchesWithStatus]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetBatchesWithStatus]
GO


CREATE PROCEDURE GetBatchesWithStatus
	@BatchStatus as integer
AS

IF @BatchStatus = 0
BEGIN
	SELECT 
		[Batch].[ID],
		[Batch].[ProjectContractCode],
		[Batch].[ContactName],
		[Batch].[BatchDate],
		CONVERT(varchar(30), [Batch].[BatchDate],103) AS SubmissionDate,
		[Batch].[BatchType],
		[Batch].[SubmittedBy],
		[Batch].[SafeToHandle],
		[luStatus].[Description] AS Status,
		CONVERT(varchar(30), [Batch].[DateReceived], 103) AS DateReceived,
		[Batch].[TimeReceived],
		[Batch].[ReceivedBy],
		[Batch].[OtherSubmittedBy],
		[Batch].[OtherSubmittedArea],
		[Batch].[Comments],
		[tblSpecies].[Species],
		[Batch].[SubmittedArea],
		[Batch].[ArchiveComplete],
		[luProjects].[Description] AS ProjectDescription,
		[luContacts].[Description] AS ContactDescription
	FROM
		Batch LEFT JOIN DEFACPVWPSQL001.TSE_VLA.dbo.tlkpSpecies tblSpecies ON  Convert(varchar(10), tblSpecies.SpeciesID, 103) = Batch.Species
		LEFT JOIN luStatus ON [luStatus].[Code] = [Batch].[BatchStatus]
		LEFT JOIN luProjects ON [luProjects].[ID] = [Batch].[ProjectContractCode]
		LEFT JOIN luContacts ON [luContacts].[ID] = [Batch].[ContactName]
END
ELSE
BEGIN
	SELECT 
		[Batch].[ID],
		[Batch].[ProjectContractCode],
		[Batch].[ContactName],
		CONVERT(varchar(30), [Batch].[BatchDate],103) AS SubmissionDate,
		[Batch].[BatchType],
		[Batch].[SubmittedBy],
		[Batch].[SafeToHandle],
		[luStatus].[Description] AS Status,
		CONVERT(varchar(30), [Batch].[DateReceived], 103) AS DateReceived,
		[Batch].[TimeReceived],
		[Batch].[ReceivedBy],
		[Batch].[OtherSubmittedBy],
		[Batch].[OtherSubmittedArea],
		[Batch].[Comments],
		[tblSpecies].[Species],
		[Batch].[SubmittedArea],
		[Batch].[ArchiveComplete],
		[luProjects].[Description] AS ProjectDescription,
		[luContacts].[Description] AS ContactDescription
	FROM
		Batch LEFT JOIN DEFACPVWPSQL001.TSE_VLA.dbo.tlkpSpecies tblSpecies ON  Convert(varchar(10), tblSpecies.SpeciesID, 103) = Batch.Species
		LEFT JOIN luStatus ON [luStatus].[Code] = [Batch].[BatchStatus]
		LEFT JOIN luProjects ON [luProjects].[ID] = [Batch].[ProjectContractCode]
		LEFT JOIN luContacts ON [luContacts].[ID] = [Batch].[ContactName]
	WHERE 
		[Batch].[BatchStatus] = @BatchStatus
END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetBatchesWithStatus]  TO [HistologyUser]
GO

