SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[migrateTest]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[migrateTest]
GO

CREATE PROCEDURE migrateTest  AS

EXEC sp_droplinkedsrvlogin 'AccessDB', 'HistologyUser'

EXEC sp_dropserver 'AccessDB'

EXEC sp_addlinkedserver 'AccessDB', 'OLE DB Provider for Jet', 'Microsoft.Jet.OLEDB.4.0', '\\toast\histo\IccSub_New.mdb'

EXEC sp_addlinkedsrvlogin 'AccessDB', false, 'HistologyUser', 'TOAST\MigrateUser', 'password*99'

EXEC sp_linkedservers
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[migrateTest]  TO [HistologyUser]
GO

