SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AddBatchSubmission]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AddBatchSubmission]
GO

CREATE PROCEDURE AddBatchSubmission
	@ID as integer,
	@BatchID as integer,
	@AnimalID as integer,
	@OldID int OUTPUT,
	@NewID int OUTPUT
AS

	DECLARE
		@ErrorCode int
        
	INSERT INTO BatchSubmission
		(BatchID, AnimalID)
	VALUES
 		(@BatchID, @AnimalID)

	SET @ErrorCode = @@Error
    
	IF @ErrorCode = 0
		BEGIN  
		SET @NewID = SCOPE_IDENTITY()  
		SET @OldID = @ID
		RETURN 0
	END 
	ELSE 
		BEGIN
		RETURN @ErrorCode
	END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[AddBatchSubmission]  TO [HistologyUser]
GO

