SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AddluTissueType]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AddluTissueType]
GO

CREATE PROCEDURE AddluTissueType
	@Code varchar(20),
	@Description varchar(50),
	@IsActive bit
AS
	INSERT INTO luTissueType
        		([Code], [Description], [IsActive])
	VALUES
		(@Code, @Description, @IsActive)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[AddluTissueType]  TO [HistologyUser]
GO

