SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AddluNonTSEHistology]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AddluNonTSEHistology]
GO

CREATE PROCEDURE AddluNonTSEHistology
	@Code varchar(5),
	@Description varchar(50),
	@IsActive bit
AS
	
	INSERT INTO luNonTSEHistology
        		([Code], [Description], [IsActive])
	VALUES
		(@Code, @Description, @IsActive)
        
RETURN
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[AddluNonTSEHistology]  TO [HistologyUser]
GO

