SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetUserByNTLogin]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetUserByNTLogin]
GO

CREATE PROCEDURE GetUserByNTLogin
	@NTLogin varchar(25)
AS
SELECT
	 [User].[ID],
	 [User].[Name],
	 [User].[UserGroup],
	 [luUserGroup].[Description] AS GroupName,
	 [User].[Email],
	 [User].[UserArea],
	 [luUserArea].[Description] As AreaName,
	[Active]
FROM
	 [User] INNER JOIN [luUserGroup] ON [User].[UserGroup] = [luUserGroup].[Code]
	INNER JOIN [luUserArea] ON [User].[UserArea] = [luUserArea].[Code]
WHERE
	 NTLogin = @NTLogin
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetUserByNTLogin]  TO [HistologyUser]
GO

