SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetBatchesToBeBlocked]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetBatchesToBeBlocked]
GO


CREATE PROCEDURE GetBatchesToBeBlocked
AS

SELECT 
	[Batch].[ID],
	[Batch].[ProjectContractCode],
	[Batch].[ContactName],
	[Batch].[BatchDate],
	[Batch].[BatchType],	
	[Batch].[SafeToHandle],
	[Batch].[DateReceived],
	[Batch].[TimeReceived],
	[Batch].[ReceivedBy],
	[tblSpecies].[Species],
	[Batch].[BatchType],
	[Batch].[OtherSubmittedBy],
	[Batch].[OtherSubmittedArea],
	[Batch].[SubmittedBy],
	[Batch].[SubmittedArea],
	[Batch].[ArchiveComplete],
	[Batch].[AllTissuesAssigned],
	[luProjects].[Description] AS ProjectDescription,
	[luContacts].[Description] AS ContactDescription

FROM
	Batch LEFT JOIN DEFACPVWPSQL001.TSE_VLA.dbo.tlkpSpecies tblSpecies ON  Convert(varchar(10), tblSpecies.SpeciesID, 103) = Batch.Species
	LEFT JOIN luProjects ON [luProjects].[ID] = [Batch].[ProjectContractCode]
	LEFT JOIN luContacts ON [luContacts].[ID] = [Batch].[ContactName]
WHERE 
	([Batch].[BatchStatus] =2 AND [Batch].[Cassetted] = 0) OR ([Batch].[BatchStatus] = 6 AND [Batch].[Cassetted] = 0)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetBatchesToBeBlocked]  TO [HistologyUser]
GO

