SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AddBlock]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AddBlock]
GO

CREATE PROCEDURE AddBlock
	@ID int,
	@BatchID int,
	@AnimalID int,
	@BlockRef varchar(4),
	@CustomerRef varchar(20),
	@RepeatBlock bit,
	@Comment varchar(500),
	@OldID int OUTPUT,
	@NewID int OUTPUT
AS
	INSERT INTO BatchBlock
		(BatchID, AnimalID, BlockRef, CustomerRef, RepeatBlock, Comment)
	VALUES
		(@BatchID, @AnimalID, @BlockRef, @CustomerRef, @RepeatBlock, @Comment)    

	SET @NewID = SCOPE_IDENTITY()  
	SET @OldID = @ID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[AddBlock]  TO [HistologyUser]
GO

