SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetSearchPMDates]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetSearchPMDates]
GO

CREATE PROCEDURE GetSearchPMDates
	@FromDate as datetime,
	@ToDate as datetime
AS
SELECT 
	[Batch].[ID],
	[UNION_ANIMAL_BATCH].[SenderRef],
	[UNION_ANIMAL_BATCH].[HistologyRef],
	CONVERT(varchar(30), [UNION_ANIMAL_BATCH].[PMDate], 103) AS PMDate,
	CONVERT(varchar(30), [Batch].[BatchDate],103) AS BatchDate,
	CONVERT(varchar(30), [Batch].[DateReceived],103) AS DateReceived,
	CONVERT(varchar(30), [Batch].[CustomerReceivedDate],103) AS CustomerReceivedDate,
	CONVERT(varchar(30), [Batch].[DateCompleted],103) AS CompletedDate,
	[luTimeReceived].[Description] AS TimeReceived
FROM 
	UNION_ANIMAL_BATCH LEFT JOIN
	[Batch] ON [UNION_ANIMAL_BATCH].[BatchID] = [Batch].[ID] LEFT JOIN
	[luTimeReceived] ON [luTimeReceived].[Code] = [Batch].[TimeReceived]
WHERE
	ISNULL([UNION_ANIMAL_BATCH].[PMDate], '1 January 1900')  BETWEEN ISNULL(@FromDate, '1 January 1800') AND ISNULL(@ToDate, GETDATE())
ORDER BY
	[Batch].[ID] DESC
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetSearchPMDates]  TO [HistologyUser]
GO

