SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetBlockHistologyTCCodes]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetBlockHistologyTCCodes]
GO

CREATE PROCEDURE GetBlockHistologyTCCodes
	@ID integer
AS
SELECT
	[HistologyTCCodes].[ID],
	[HistologyTCCodes].[TestID],
	[HistologyTCCodes].[Code]
FROM 
	[Batch] INNER JOIN [BatchBlock] ON [BatchBlock].[BatchID] = [Batch].[ID]
	INNER JOIN [BlockHistology] ON [BlockHistology].[BlockID] = [BatchBlock].[ID]
	INNER JOIN [HistologyTCCodes] ON [HistologyTCCodes].[TestID]  = [BlockHistology].[ID]
WHERE 
	[Batch].[ID] = @ID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetBlockHistologyTCCodes]  TO [HistologyUser]
GO

