SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetBlockRefForSender]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetBlockRefForSender]
GO

CREATE PROCEDURE GetBlockRefForSender
	@SenderRef varchar(20),
	@LastBlockRef smallint OUTPUT
AS
SELECT
	@LastBlockRef = MAX(BlockRef)
	
	FROM
		[SubmissionBlock]
	WHERE
		SenderRef = @SenderRef
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetBlockRefForSender]  TO [HistologyUser]
GO

