SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AddPostFixation]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AddPostFixation]
GO

CREATE PROCEDURE AddPostFixation
	@BatchID int,
	@Code varchar(10),
	@UserID int
AS
	DECLARE 
		@BatchStatus int,
		@ID int

	INSERT INTO BatchPostFixation
		(BatchID, Code)
	VALUES
		(@BatchID, @Code)

	/*
	SET @ID = SCOPE_IDENTITY()  

	SELECT 
		@BatchStatus = [Batch].[BatchStatus]
	FROM
		[Batch]
	WHERE 
		[Batch].[ID] = @BatchID

	IF @BatchStatus <> 1 BEGIN
		INSERT INTO AuditLog 
			(ID, TableName, FieldName, LogDate, UserID, BeforeValue , AfterValue, Reason)
		VALUES
			  (@ID, 'BatchPostFixation','Code', getdate(),@UserID, '', @Code,'AddPostFixation')
	END*/
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[AddPostFixation]  TO [HistologyUser]
GO

