SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetBatchBlocksByID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetBatchBlocksByID]
GO

CREATE PROCEDURE GetBatchBlocksByID
	@ID int
AS
	EXEC GetBatchBlockDetails @ID
	EXEC GetBatchBlockTissues @ID
	EXEC GetBatchBlockHistology @ID
	EXEC GetBatchBlockAntibodies @ID
	EXEC GetBatchBlockStain @ID
	EXEC GetBatchBlockAnimal @ID
	EXEC GetHistologyRefs
	EXEC GetBlockStainTCCodes @ID
	EXEC GetBlockAntibodiesTCCodes @ID
	EXEC GetBlockHistologyTCCodes @ID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetBatchBlocksByID]  TO [HistologyUser]
GO

