SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[EditQCNote]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[EditQCNote]
GO

CREATE PROCEDURE EditQCNote
	@QCNoteRef integer,
	@QCText varchar(8000),
	@RowStamp timestamp,
	@UserID int
AS
DECLARE 
	@ErrorCode integer,
	@RowsUpdated integer,
	@columnValue varchar(8000),
	@columnCount int,
	@oldColumnValue varchar(8000)

	SET @oldColumnValue = CONVERT(varchar(8000), (SELECT QCText  FROM QCNotes WHERE ID=@QCNoteRef))
	SET @columnValue  = CONVERT(varchar(8000), @QCText)

	UPDATE QCNotes SET
		QCText=@QCText
	WHERE
		ID=@QCNoteRef AND RowStamp=@RowStamp

	SET @RowsUpdated = @@ROWCOUNT

	IF @RowsUpdated = 0 BEGIN
		RETURN 1
	END

	IF @oldColumnValue <> @columnValue  AND NOT @oldColumnValue IS NULL BEGIN
		INSERT INTO AuditLog 
			(ID, TableName, FieldName, LogDate, UserID, BeforeValue , AfterValue, Reason)
		VALUES
	        	(@QCNoteRef, 'QCNotes', 'QCText', getDate(), @UserID, @oldColumnValue, @columnValue, 'EditQCNote')
	END

	SELECT @ErrorCode = @@ERROR

	IF @ErrorCode = 0 BEGIN
		IF @RowsUpdated = 0 BEGIN
		    RETURN -1
	END ELSE BEGIN
		    RETURN 0
	END
	END ELSE BEGIN
		RETURN @ErrorCode
	END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[EditQCNote]  TO [HistologyUser]
GO

