SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetluProjects]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetluProjects]
GO

CREATE PROCEDURE GetluProjects AS
	DECLARE @ttblProjects TABLE
	(
		[NewID] int IDENTITY(1,1),
		[ID] int,
		[Description] varchar(50),
		[IsActive] bit
	)
	
	SET NOCOUNT ON
	
	INSERT INTO @ttblProjects
	(
		[ID],
		[Description],
		[IsActive]
	)
	
	SELECT 
		[ID],
		[Description],
		[IsActive]
	FROM 
		luProjects
	WHERE
		[IsActive] = 1
	ORDER BY 
		[Description]
		
	SELECT 
		[NewID],
		[ID],
		[Description],
		[IsActive]
	FROM 
		@ttblProjects
	ORDER BY [Description]
	
	SET NOCOUNT OFF
	
	RETURN
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetluProjects]  TO [HistologyUser]
GO

