SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetBatchByID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetBatchByID]
GO

CREATE PROCEDURE GetBatchByID
	@ID int
AS
	EXEC GetBatchSubmissions @ID
	EXEC GetBatchHistology @ID
	EXEC GetBatchAntibodies @ID
	EXEC GetBatchStain @ID
	EXEC GetBatchTissues @ID
	EXEC GetBatchAnimal @ID
	EXEC GetBatchSubmittedAs @ID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetBatchByID]  TO [HistologyUser]
GO

