SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetluTestResult]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetluTestResult]
GO

CREATE PROCEDURE GetluTestResult
AS
	SELECT 
		[Code],
		[Description]
	FROM 
		luTestResult
RETURN
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetluTestResult]  TO [HistologyUser]
GO

