SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AddQCNote]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AddQCNote]
GO

CREATE PROCEDURE AddQCNote
	@CreatedBy integer,
	@DateCreated datetime,
	@NewID int OUTPUT
AS        
	INSERT INTO QCNotes
		(CreatedBy, DateCreated, QCText)
	VALUES
		(@CreatedBy, @DateCreated, '')

	SET @NewID = SCOPE_IDENTITY()
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[AddQCNote]  TO [HistologyUser]
GO

