SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetTestRows]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetTestRows]
GO

CREATE PROCEDURE GetTestRows
	@ProjectContractCode int = null,
	@BatchType bit =0
AS




SELECT dbo.Batch.ProjectContractCode, dbo.Batch.SubmittedArea
FROM  dbo.AntibodiesTCCodes FULL OUTER JOIN
               dbo.BlockAntibodies ON dbo.AntibodiesTCCodes.TestID = dbo.BlockAntibodies.ID FULL OUTER JOIN
               dbo.BatchBlock ON dbo.BlockAntibodies.BlockID = dbo.BatchBlock.ID FULL OUTER JOIN
               dbo.HistologyTCCodes FULL OUTER JOIN
               dbo.BlockHistology ON dbo.HistologyTCCodes.TestID = dbo.BlockHistology.ID ON dbo.BatchBlock.ID = dbo.BlockHistology.BlockID FULL OUTER JOIN
               dbo.BlockStain FULL OUTER JOIN
               dbo.SpecialStainTCCodes ON dbo.BlockStain.ID = dbo.SpecialStainTCCodes.TestID ON dbo.BatchBlock.ID = dbo.BlockStain.BlockID FULL OUTER JOIN
               dbo.Batch ON dbo.BatchBlock.BatchID = dbo.Batch.ID
WHERE    ( (dbo.AntibodiesTCCodes.TestID IS NOT NULL) OR
                      (dbo.HistologyTCCodes.TestID IS NOT NULL) OR
                      (dbo.SpecialStainTCCodes.TestID IS NOT NULL)) AND
			((dbo.BlockAntibodies.dispatched = 1) OR
		      (dbo.BlockHistology.dispatched = 1) OR
			(dbo.BlockStain.dispatched = 1)) AND
    ((Batch.ProjectContractCode = @ProjectContractCode OR @ProjectContractCode IS NULL )) AND
		dbo.batch.batchtype = @BatchType
GROUP BY dbo.Batch.ProjectContractCode, dbo.Batch.SubmittedArea

/*added set of brackets around in the */
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetTestRows]  TO [HistologyUser]
GO

