SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetProjects]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetProjects]
GO

CREATE PROCEDURE GetProjects AS
	SELECT 
		[ID],
		[Description],
		[IsActive],
		[Area]
	FROM 
		luProjects
	WHERE 
		[IsActive] = 1
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetProjects]  TO [HistologyUser]
GO

