SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetBatchQCNotes]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetBatchQCNotes]
GO

CREATE PROCEDURE GetBatchQCNotes 
	@QCNoteRef integer
AS

IF @QCNoteRef IS NULL BEGIN
	SELECT
		[Batch].[ID],
		[Batch].[SubmittedArea],
		[Batch].[BatchType],
		[tblSpecies].[Species],
		[Batch].[ProjectContractCode],
		[BlockAntibodies].[QCNoteRef],
		[BlockAntibodies].[StainRef],
		[luProjects].[Description] AS ProjectDescription
	FROM 
		[Batch] INNER JOIN [BatchBlock] ON [BatchBlock].[BatchID] = [Batch].[ID]
		INNER JOIN [BlockAntibodies] ON [BlockAntibodies].[BlockID] = [BatchBlock].[ID]
		LEFT JOIN DEFACPVWPSQL001.TSE_VLA.dbo.tlkpSpecies tblSpecies ON  Convert(varchar(10), tblSpecies.SpeciesID, 103) = [Batch].[Species]
		LEFT JOIN luProjects ON [luProjects].[ID] = [Batch].[ProjectContractCode]
	WHERE 
		(Not QCNoteRef IS NULL)
	
	
	UNION
	
	SELECT
		[Batch].[ID],
		[Batch].[SubmittedArea],
		[Batch].[BatchType],
		[tblSpecies].[Species],
		[Batch].[ProjectContractCode],
		[BlockHistology].[QCNoteRef],
		[BlockHistology].[StainRef],
		[luProjects].[Description] AS ProjectDescription
	FROM 
		[Batch] INNER JOIN [BatchBlock] ON [BatchBlock].[BatchID] = [Batch].[ID]
		INNER JOIN [BlockHistology] ON [BlockHistology].[BlockID] = [BatchBlock].[ID]
		LEFT JOIN DEFACPVWPSQL001.TSE_VLA.dbo.tlkpSpecies tblSpecies ON  Convert(varchar(10), tblSpecies.SpeciesID, 103) = [Batch].[Species]
		LEFT JOIN luProjects ON [luProjects].[ID] = [Batch].[ProjectContractCode]
	WHERE 
		(Not QCNoteRef IS NULL)
	
	UNION 
	
	SELECT
		[Batch].[ID],
		[Batch].[SubmittedArea],
		[Batch].[BatchType],
		[tblSpecies].[Species],
		[Batch].[ProjectContractCode],
		[BlockStain].[QCNoteRef],
		[BlockStain].[StainRef],
		[luProjects].[Description] AS ProjectDescription
	FROM 
		[Batch] INNER JOIN [BatchBlock] ON [BatchBlock].[BatchID] = [Batch].[ID]
		INNER JOIN [BlockStain] ON [BlockStain].[BlockID] = [BatchBlock].[ID]
		LEFT JOIN DEFACPVWPSQL001.TSE_VLA.dbo.tlkpSpecies tblSpecies ON  Convert(varchar(10), tblSpecies.SpeciesID, 103) = [Batch].[Species]
		LEFT JOIN luProjects ON [luProjects].[ID] = [Batch].[ProjectContractCode]
	WHERE 
		(Not QCNoteRef IS NULL)

ORDER BY
		QCNoteRef DESC
END ELSE
	SELECT
		[Batch].[ID],
		[Batch].[SubmittedArea],
		[Batch].[BatchType],
		[tblSpecies].[Species],
		[Batch].[ProjectContractCode],
		[BlockAntibodies].[QCNoteRef],
		[BlockAntibodies].[StainRef],
		[luProjects].[Description] AS ProjectDescription
	FROM 
		[Batch] INNER JOIN [BatchBlock] ON [BatchBlock].[BatchID] = [Batch].[ID]
		INNER JOIN [BlockAntibodies] ON [BlockAntibodies].[BlockID] = [BatchBlock].[ID]
		LEFT JOIN DEFACPVWPSQL001.TSE_VLA.dbo.tlkpSpecies tblSpecies ON  Convert(varchar(10), tblSpecies.SpeciesID, 103) = [Batch].[Species]
		LEFT JOIN luProjects ON [luProjects].[ID] = [Batch].[ProjectContractCode]
	WHERE 
		QCNoteRef=@QCNoteRef
	
	UNION
	
	SELECT
		[Batch].[ID],
		[Batch].[SubmittedArea],
		[Batch].[BatchType],
		[tblSpecies].[Species],
		[Batch].[ProjectContractCode],
		[BlockHistology].[QCNoteRef],
		[BlockHistology].[StainRef],
		[luProjects].[Description] AS ProjectDescription
	FROM 
		[Batch] INNER JOIN [BatchBlock] ON [BatchBlock].[BatchID] = [Batch].[ID]
		INNER JOIN [BlockHistology] ON [BlockHistology].[BlockID] = [BatchBlock].[ID]
		LEFT JOIN DEFACPVWPSQL001.TSE_VLA.dbo.tlkpSpecies tblSpecies ON  Convert(varchar(10), tblSpecies.SpeciesID, 103) = [Batch].[Species]
		LEFT JOIN luProjects ON [luProjects].[ID] = [Batch].[ProjectContractCode]
	WHERE 
		QCNoteRef=@QCNoteRef
	
	UNION 
	
	SELECT
		[Batch].[ID],
		[Batch].[SubmittedArea],
		[Batch].[BatchType],
		[tblSpecies].[Species],
		[Batch].[ProjectContractCode],
		[BlockStain].[QCNoteRef],
		[BlockStain].[StainRef],
		[luProjects].[Description] AS ProjectDescription
	FROM 
		[Batch] INNER JOIN [BatchBlock] ON [BatchBlock].[BatchID] = [Batch].[ID]
		INNER JOIN [BlockStain] ON [BlockStain].[BlockID] = [BatchBlock].[ID]
		LEFT JOIN DEFACPVWPSQL001.TSE_VLA.dbo.tlkpSpecies tblSpecies ON  Convert(varchar(10), tblSpecies.SpeciesID, 103) = [Batch].[Species]
		LEFT JOIN luProjects ON [luProjects].[ID] = [Batch].[ProjectContractCode]
	WHERE 
		QCNoteRef=@QCNoteRef

ORDER BY
		QCNoteRef DESC
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetBatchQCNotes]  TO [HistologyUser]
GO

