SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AddluProjects]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AddluProjects]
GO

CREATE PROCEDURE AddluProjects
	@Description varchar(50),
	@IsActive bit,
	@Area varchar(10),
	@ID int OUTPUT
AS
	DECLARE
		@ErrorCode int

	INSERT INTO luProjects
        		([Description], [IsActive], [Area])
	VALUES
		(@Description, @IsActive, @Area)

	SET @ErrorCode=@@Error

	IF @ErrorCode = 0 BEGIN
		SET @ID = SCOPE_IDENTITY()
		RETURN 0
	END ELSE BEGIN
		RETURN @ErrorCode
	END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[AddluProjects]  TO [HistologyUser]
GO

