SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetAnimalBatchTissues]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetAnimalBatchTissues]
GO

CREATE PROCEDURE GetAnimalBatchTissues 
	@SenderRef varchar(20),
	@HistologyRef varchar(20)
AS
	IF @SenderRef IS NULL
		SELECT
			[Batch].[ID], 
			CONVERT(varchar(30), [Batch].[BatchDate], 103) AS DateSubmitted,
			CONVERT(varchar(30), [Batch].[DateReceived], 103) AS DateReceived,
			[luTimeReceived].[Description] As TimeReceived,
			CONVERT(varchar(30), [Batch].[DateCompleted], 103) AS DateCompleted,
			CONVERT(varchar(30), [Batch].[CustomerReceivedDate], 103) AS CustomerReceivedDate,
			[luTissueType].[Description] AS TissueDescription,
			[BatchTissues].[NoPieces]
		FROM  
			[Batch] INNER JOIN
			[BatchSubmission] ON [Batch].[ID] = [BatchSubmission].[BatchID] INNER JOIN
			[BatchTissues] ON [BatchSubmission].[ID] = [BatchTissues].[BatchSubmissionID] INNER JOIN
			[luTissueType] ON [BatchTissues].[TissueCode] = [luTissueType].[Code] INNER JOIN
			[Animal] ON [BatchSubmission].[AnimalID] = [Animal].[ID] LEFT JOIN
			[luTimeReceived] ON [Batch].[TimeReceived] = [luTimeReceived].[Code]
		WHERE
			[Animal].[HistologyRef]	= @HistologyRef
	ELSE
		SELECT
			[Batch].[ID], 
			CONVERT(varchar(30), [Batch].[BatchDate], 103) AS DateSubmitted,
			CONVERT(varchar(30), [Batch].[DateReceived], 103) AS DateReceived,
			[luTimeReceived].[Description] As TimeReceived, 
			CONVERT(varchar(30), [Batch].[DateCompleted], 103) AS DateCompleted,
			CONVERT(varchar(30), [Batch].[CustomerReceivedDate], 103) AS CustomerReceivedDate,
			[luTissueType].[Description] AS TissueDescription,
			[BatchTissues].[NoPieces]
		FROM  
			[Batch] INNER JOIN
			[BatchSubmission] ON [Batch].[ID] = [BatchSubmission].[BatchID] INNER JOIN
			[BatchTissues] ON [BatchSubmission].[ID] = [BatchTissues].[BatchSubmissionID] INNER JOIN
			[luTissueType] ON [BatchTissues].[TissueCode] = [luTissueType].[Code] INNER JOIN
			[Animal] ON [BatchSubmission].[AnimalID] = [Animal].[ID] LEFT JOIN
			[luTimeReceived] ON [Batch].[TimeReceived] = [luTimeReceived].[Code]
		WHERE
			[Animal].[SenderRef]=@SenderRef
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetAnimalBatchTissues]  TO [HistologyUser]
GO

