SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetBlockAntibodiesTCCodes]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetBlockAntibodiesTCCodes]
GO

CREATE PROCEDURE GetBlockAntibodiesTCCodes
	@ID integer
AS
SELECT
	[AntibodiesTCCodes].[ID],
	[AntibodiesTCCodes].[TestID],
	[AntibodiesTCCodes].[Code]
FROM 
	[Batch] INNER JOIN [BatchBlock] ON [BatchBlock].[BatchID] = [Batch].[ID]
	INNER JOIN [BlockAntibodies] ON [BlockAntibodies].[BlockID] = [BatchBlock].[ID]
	INNER JOIN [AntibodiesTCCodes] ON [AntibodiesTCCodes].[TestID]  = [BlockAntibodies].[ID]
WHERE 
	[Batch].[ID] = @ID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetBlockAntibodiesTCCodes]  TO [HistologyUser]
GO

