SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetSenderRefBySenderbackup]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetSenderRefBySenderbackup]
GO

CREATE PROCEDURE GetSenderRefBySender 
	@SenderRef varchar(20)
AS

SELECT DISTINCT
	[SubmissionBlock].[SenderRef],
	[SubmissionBlock].[HistologyRef],
	[Submission].[ProjectContractCode],
	[Submission].[ContactName],
	[Submission].[Pathologist],
	CONVERT(varchar(30), [Submission].[SubmissionDate],103) AS [SubmissionDate],
	[Submission].[SubmissionType],
	[luSpecies].[Description] AS Species
FROM
	[Submission] LEFT JOIN [SubmissionBlock] ON [Submission].[ID] = [SubmissionBlock].[SubmissionID]
	LEFT JOIN [luSpecies] ON [Submission].[Species] = [luSpecies].[Code]
WHERE
	(SenderRef LIKE @SenderRef + '%')

RETURN
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetSenderRefBySenderbackup]  TO [HistologyUser]
GO

