SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AddFixation]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AddFixation]
GO

CREATE PROCEDURE AddFixation
	@BatchID int,
	@Code varchar(10),
	@UserID int
AS
	DECLARE
		@ID int,
		@BatchStatus int	

	INSERT INTO BatchFixation
		(BatchID, Code)
	VALUES
		(@BatchID, @Code)

	SET @ID = SCOPE_IDENTITY()  

	SELECT 
		@BatchStatus = [Batch].[BatchStatus]
	FROM
		[Batch]
	WHERE 
		[Batch].[ID] = @BatchID

	IF @BatchStatus <> 1 BEGIN
		INSERT INTO AuditLog 
			(ID, TableName, FieldName, LogDate, UserID, BeforeValue , AfterValue, Reason)
		VALUES
			  (@ID, 'BatchFixation','Code', getdate(),@UserID, '', @Code,'AddFixation')
	END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[AddFixation]  TO [HistologyUser]
GO

