SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetAnimalBatches]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetAnimalBatches]
GO

CREATE PROCEDURE GetAnimalBatches 
	@SenderRef varchar(20),
	@HistologyRef varchar(20)
AS
	
IF @HistologyRef IS NULL BEGIN
	SELECT DISTINCT
		[Batch].[ID] AS BatchID,
		[Batch].[BatchType] AS SubmissionType
	FROM 
		[Batch] INNER JOIN [BatchBlock] ON [Batch].[ID] = [BatchBlock].[BatchID]
		INNER JOIN [Animal] ON [Animal].[ID] = [BatchBlock].[AnimalID]
	WHERE
		[Animal].[SenderRef] = @SenderRef
END
ELSE
	SELECT DISTINCT
		[Batch].[ID] AS BatchID,
		[Batch].[BatchType] AS SubmissionType
	FROM 
		[Batch] INNER JOIN [BatchBlock] ON [Batch].[ID] = [BatchBlock].[BatchID]
		INNER JOIN [Animal] ON [Animal].[ID] = [BatchBlock].[AnimalID]
	WHERE
		[Animal].[HistologyRef] = @HistologyRef

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetAnimalBatches]  TO [HistologyUser]
GO

