SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AddLog]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AddLog]
GO

CREATE PROCEDURE AddLog
    @UserID varchar(20),
    @Type tinyint,
    @Source tinyint,
    @Description text
AS
    DECLARE
        @ErrorCode int,
        @RowCount int
    
    BEGIN TRANSACTION
        -- check whether there's a corresponding entry in the LogType
        -- lookup table; if not, create one
        SELECT @RowCount = COUNT(Code) FROM luLogType WHERE Code=@Type
        IF @RowCount < 1 BEGIN
            INSERT INTO luLogType(Code, Description) VALUES(@Type, 'Unknown')
            
            SET @ErrorCode = @@Error
            IF @ErrorCode <> 0 BEGIN
                ROLLBACK TRANSACTION
                RETURN @ErrorCode
            END
        END

        -- check whether there's a corresponding entry in the LogSource
        -- lookup table; if not, create one
        SELECT @RowCount = COUNT(Code) FROM luLogSource WHERE Code=@Source
        IF @RowCount < 1 BEGIN
            INSERT INTO luLogSource(Code, Description) VALUES(@Source, 'Unknown')
            
            SET @ErrorCode = @@Error
            IF @ErrorCode <> 0 BEGIN
                ROLLBACK TRANSACTION
                RETURN @ErrorCode
            END
        END
        
        INSERT INTO Log
            (DateTime, UserID, Type, Source, Description)
         VALUES
            (GETDATE(), @UserID, @Type, @Source, @Description)    
    
        SET @ErrorCode = @@Error
        IF @ErrorCode <> 0 BEGIN
            ROLLBACK TRANSACTION
            RETURN @ErrorCode
        END
    
    COMMIT TRANSACTION

    RETURN 0
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[AddLog]  TO [HistologyUser]
GO

