SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetBatchPostFixation]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetBatchPostFixation]
GO

CREATE PROCEDURE GetBatchPostFixation
	@ID integer
AS	
SELECT
	[BatchPostFixation].[ID],
	[BatchPostFixation].[BatchID],
	[BatchPostFixation].[Code]
FROM 
	[Batch] INNER JOIN [BatchPostFixation] ON [BatchPostFixation].[BatchID] = [Batch].[ID]
WHERE 
	[Batch].[ID] = @ID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetBatchPostFixation]  TO [HistologyUser]
GO

