SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetBatchFixation]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetBatchFixation]
GO

CREATE PROCEDURE GetBatchFixation
	@ID integer
AS	
SELECT
	[BatchFixation].[ID],
	[BatchFixation].[BatchID],
	[BatchFixation].[Code]
FROM 
	[Batch] INNER JOIN [BatchFixation] ON [BatchFixation].[BatchID] = [Batch].[ID]
WHERE 
	[Batch].[ID] = @ID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetBatchFixation]  TO [HistologyUser]
GO

