SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetTestHistologyCounts]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetTestHistologyCounts]
GO

CREATE PROCEDURE GetTestHistologyCounts
	@ProjectContractCode varchar(20) = '',
	@SubmittedDateFrom datetime,
	@SubmittedDateTo datetime,
	@Code varchar(10) = '',
	@TCCode varchar(10) = '',
	@BatchType bit =0
AS

DECLARE @NumberOfSlides integer 
SET @NumberOfSlides = 
(SELECT DISTINCT dbo.BlockHistology.NumberOfSlides
FROM         dbo.BatchBlock INNER JOIN
                      dbo.BlockHistology ON dbo.BatchBlock.ID = dbo.BlockHistology.BlockID INNER JOIN
                      dbo.Batch ON dbo.BatchBlock.BatchID = dbo.Batch.ID INNER JOIN
                      dbo.HistologyTCCodes ON dbo.BlockHistology.ID = dbo.HistologyTCCodes.TestID
WHERE  	BlockHistology.Dispatched = 1 AND
		ISNULL(Batch.ProjectContractCode,'') = @ProjectContractCode AND 
		ISNULL(BatchDate , '1 January 1900') BETWEEN ISNULL(@SubmittedDateFrom, '1 January 1900') AND ISNULL(@SubmittedDateTo, GETDATE()) AND
		HistologyTCCodes.Code = @TCCode AND	
		Batch.BatchType = @BatchType AND
		BlockHistology.Code = @Code)

SELECT     *
FROM         dbo.BatchBlock INNER JOIN
                      dbo.BlockHistology ON dbo.BatchBlock.ID = dbo.BlockHistology.BlockID INNER JOIN
                      dbo.Batch ON dbo.BatchBlock.BatchID = dbo.Batch.ID INNER JOIN
                      dbo.HistologyTCCodes ON dbo.BlockHistology.ID = dbo.HistologyTCCodes.TestID
WHERE  	BlockHistology.Dispatched = 1 AND
		ISNULL(Batch.ProjectContractCode,'') = @ProjectContractCode AND 
		ISNULL(BatchDate, '1 January 1900') BETWEEN ISNULL(@SubmittedDateFrom, '1 January 1900') AND ISNULL(@SubmittedDateTo, GETDATE()) AND
		HistologyTCCodes.Code = @TCCode AND	
		Batch.BatchType = @BatchType AND
		BlockHistology.Code = @Code
RETURN @@RowCount * @NumberOfSlides
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetTestHistologyCounts]  TO [HistologyUser]
GO

