SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetBatchSubmissionDetailsByBatchID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetBatchSubmissionDetailsByBatchID]
GO

CREATE PROCEDURE GetBatchSubmissionDetailsByBatchID
	@ID int
AS
	EXEC GetBatchSubmissions @ID
	EXEC GetBatchTissues @ID
	EXEC GetBatchAnimal @ID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetBatchSubmissionDetailsByBatchID]  TO [HistologyUser]
GO

