SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetBatchTissuesIDs]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetBatchTissuesIDs]
GO

CREATE PROCEDURE GetBatchTissuesIDs
	@ID integer
AS
SELECT
	[BatchTissues].[ID]
FROM 
	[Batch] INNER JOIN [BatchSubmission] ON [BatchSubmission].[BatchID] = [Batch].[ID]
	INNER JOIN [BatchTissues] ON [BatchTissues].[BatchSubmissionID] = [BatchSubmission].[ID]
	INNER JOIN [luTissueType] ON [luTissueType].[Code] = [BatchTissues].[TissueCode]
WHERE 
	[Batch].[ID] = @ID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetBatchTissuesIDs]  TO [HistologyUser]
GO

