SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetAnimalStainArchiveInformation]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetAnimalStainArchiveInformation]
GO

CREATE PROCEDURE GetAnimalStainArchiveInformation 
	@SenderRef varchar(20),
	@HistologyRef varchar(20),
	@ArchiveLocation varchar(10)
AS

IF @SenderRef IS NULL BEGIN
	SELECT    
		[BatchBlock].[BatchID], 
		[BatchBlock].[BlockRef], 
		CONVERT(varchar(30),[BlockStain].[ArchivedDate], 103) AS ArchivedDate,
		[luArchiveLocation].[Description] AS ArchiveLocation, 
		[luSpecialStain].[Description], 
		[luTissueType].[Description] AS TissueDescription,
		[BlockTissues].[NoPieces]
	FROM         
		[Batch] INNER JOIN [BatchBlock] ON [BatchBlock].[BatchID] = [Batch].[ID]
		INNER JOIN [Animal] ON [BatchBlock].[AnimalID] = [Animal].[ID]
		INNER JOIN [BlockStain] ON [BlockStain].[BlockID] = [BatchBlock].[ID]
		INNER JOIN [luSpecialStain] ON [luSpecialStain].[Code] = [BlockStain].[Code] 
		LEFT JOIN [luArchiveLocation] ON [luArchiveLocation].[Code] = [BlockStain].[ArchiveLocation]
		INNER JOIN [BlockTissues] ON [BlockTissues].[BlockID] = [BatchBlock].[ID]
		INNER JOIN [luTissueType] ON [luTissueType].[Code] = [BlockTissues].[TissueCode]
	WHERE 
		[Animal].[HistologyRef] = @HistologyRef
		AND (@ArchiveLocation = [BlockStain].[ArchiveLocation] OR @ArchiveLocation IS NULL)
	ORDER BY
		[BatchBlock].[BatchID],
		[BatchBlock].[ID],
		[BatchBlock].[BlockRef], 
		[BlockStain].[ArchivedDate], 
		[luArchiveLocation].[Description],
		[luSpecialStain].[Description],
		[luTissueType].[Description],
		[BlockTissues].[NoPieces]
END 
ELSE
	SELECT     
		[BatchBlock].[BatchID], 
		[BatchBlock].[BlockRef], 
		CONVERT(varchar(30),[BlockStain].[ArchivedDate], 103) AS ArchivedDate,
		[luArchiveLocation].[Description] AS ArchiveLocation, 
		[luSpecialStain].[Description], 
		[luTissueType].[Description] AS TissueDescription,
		[BlockTissues].[NoPieces]
	FROM         
		[Batch] INNER JOIN [BatchBlock] ON [BatchBlock].[BatchID] = [Batch].[ID]
		INNER JOIN [Animal] ON [BatchBlock].[AnimalID] = [Animal].[ID]
		INNER JOIN [BlockStain] ON [BlockStain].[BlockID] = [BatchBlock].[ID]
		INNER JOIN [luSpecialStain] ON [luSpecialStain].[Code] = [BlockStain].[Code] 
		LEFT JOIN [luArchiveLocation] ON [luArchiveLocation].[Code] = [BlockStain].[ArchiveLocation]
		INNER JOIN [BlockTissues] ON [BlockTissues].[BlockID] = [BatchBlock].[ID]
		INNER JOIN [luTissueType] ON [luTissueType].[Code] = [BlockTissues].[TissueCode]
	WHERE 
		[Animal].[SenderRef] = @SenderRef
		AND (@ArchiveLocation = [BlockStain].[ArchiveLocation] OR @ArchiveLocation IS NULL)
	ORDER BY
		[BatchBlock].[BatchID],
		[BatchBlock].[ID],
		[BatchBlock].[BlockRef], 
		[BlockStain].[ArchivedDate], 
		[luArchiveLocation].[Description],
		[luSpecialStain].[Description],
		[luTissueType].[Description],
		[BlockTissues].[NoPieces]
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetAnimalStainArchiveInformation]  TO [HistologyUser]
GO

