SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[EditluTSEHistology]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[EditluTSEHistology]
GO

CREATE PROCEDURE EditluTSEHistology
	@ID int,	
	@Code smallint,
	@Description varchar(50),
	@Active bit	
AS
    DECLARE 
        @ErrorCode int, 
        @RowsUpdated int
    
    UPDATE luTSEHistology SET
	[Code]=@Code,
	[Description]=@Description,
	[Active]=@Active
    WHERE
        [ID]=@ID
        
    SELECT @ErrorCode = @@ERROR, @RowsUpdated = @@ROWCOUNT
    
    IF @ErrorCode = 0 BEGIN
        IF @RowsUpdated = 0 BEGIN
            RETURN -1
        END ELSE BEGIN
            RETURN 0
        END
    END ELSE BEGIN
        RETURN @ErrorCode
    END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[EditluTSEHistology]  TO [HistologyUser]
GO

