SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetluHistologyRefType]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetluHistologyRefType]
GO

CREATE PROCEDURE GetluHistologyRefType
AS
	SELECT 
		[Code],
		[Description]
	FROM 
		luHistologyRefType
RETURN
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetluHistologyRefType]  TO [HistologyUser]
GO

