SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AddAnimal]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AddAnimal]
GO

CREATE PROCEDURE AddAnimal
	@SenderRef varchar(20),
	@HistologyRef varchar(20),
	@NextBlockRef varchar(4),
	@OnHold bit,
	@PMDate datetime,
	@NewID int OUTPUT
AS        
	DECLARE
	@ErrorCode int,
	@RowCount int
	
	IF NOT @HistologyRef IS NULL AND NOT @HistologyRef = '' BEGIN
		SELECT 
			HistologyRef
		FROM
			Animal
		WHERE
			HistologyRef=@HistologyRef
	
		SET @RowCount = @@ROWCOUNT
	
		IF @RowCount > 0  BEGIN
			RETURN 2
		END
	END

	SELECT
		[SenderRef]
	FROM
		[Animal]
	WHERE
		[SenderRef] = @SenderRef

	SET @RowCount = @@ROWCOUNT

	IF @RowCount > 0 BEGIN
		RETURN 1
	END

	INSERT INTO Animal
		(SenderRef, HistologyRef, NextBlockRef, PMDate)
	VALUES
		(@SenderRef, @HistologyRef, @NextBlockRef, @PMDate)

	SET @NewID = SCOPE_IDENTITY()
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[AddAnimal]  TO [HistologyUser]
GO

