SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AddTissue]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AddTissue]
GO

CREATE PROCEDURE AddTissue
	@BatchSubmissionID as int,
	@TissueCode varchar(20),
	@NoPieces smallint,
	@Comment varchar(500)
AS

DECLARE
	@ErrorCode int,
	@RowCount int

	BEGIN TRANSACTION

	INSERT INTO BatchTissues
		(BatchSubmissionID, TissueCode, NoPieces, Comment)
	VALUES
		(@BatchSubmissionID, @TissueCode, @NoPieces, @Comment)    

	SET @ErrorCode = @@Error
	IF @ErrorCode <> 0 BEGIN
		ROLLBACK TRANSACTION
	RETURN @ErrorCode
	END

	COMMIT TRANSACTION

	RETURN 0
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[AddTissue]  TO [HistologyUser]
GO

