SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetHistologyRefs]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetHistologyRefs]
GO

CREATE PROCEDURE GetHistologyRefs 

AS

SELECT
	[HistologyRef].[Type],
	[HistologyRef].[NextHistologyRef],
	[HistologyRef].[RowStamp],
	[luHistologyRefType].[Description]
FROM
	[HistologyRef] INNER JOIN [luHistologyRefType] ON [HistologyRef].[Type] = [luHistologyRefType].[Code]
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetHistologyRefs]  TO [HistologyUser]
GO

