SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetUserByID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetUserByID]
GO

CREATE PROCEDURE GetUserByID
	@ID as integer
AS
SELECT
	 [User].[ID],
	 [User].[Name],
	 [User].[UserGroup],
	 [luUserGroup].[Description] AS GroupName,
	 [User].[Email],
	 [User].[UserArea],
	 [luUserArea].[Description] As AreaName
FROM
	 [User] INNER JOIN [luUserGroup] ON [User].[UserGroup] = [luUserGroup].[Code]
	INNER JOIN [luUserArea] ON [User].[UserArea] = [luUserArea].[Code]
WHERE
	 [User].[ID] = @ID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetUserByID]  TO [HistologyUser]
GO

