SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetBatchBlockHistologyIDs]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetBatchBlockHistologyIDs]
GO

CREATE PROCEDURE GetBatchBlockHistologyIDs
	@ID integer
AS
SELECT
	[BlockHistology].[ID]
FROM 
	[Batch] INNER JOIN [BatchBlock] ON [BatchBlock].[BatchID] = [Batch].[ID]
	INNER JOIN [BlockHistology] ON [BlockHistology].[BlockID] = [BatchBlock].[ID]
WHERE 
	[Batch].[ID] = @ID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetBatchBlockHistologyIDs]  TO [HistologyUser]
GO

