SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetAnimalBlockTissues]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetAnimalBlockTissues]
GO

CREATE PROCEDURE GetAnimalBlockTissues 
	@SenderRef varchar(20),
	@HistologyRef varchar(20)
AS

IF @HistologyRef IS NULL
BEGIN
	SELECT 
		[Batch].[ID], 
		CONVERT(varchar(30), [Batch].[BatchDate], 103) AS DateSubmitted,
		CONVERT(varchar(30), [Batch].[DateReceived], 103) AS DateReceived,
		[luTimeReceived].[Description] As TimeReceived,
		CONVERT(varchar(30), [Batch].[DateCompleted], 103) AS DateCompleted,
		CONVERT(varchar(30), [Batch].[CustomerReceivedDate], 103) AS CustomerReceivedDate,
		[BatchBlock].[BlockRef],
		[luTissueType].[Description] AS TissueDescription,
		[BlockTissues].[NoPieces]
	FROM  
		[Batch] INNER JOIN
		[BatchBlock] ON [Batch].[ID] = [BatchBlock].[BatchID] INNER JOIN
		[Animal] ON [BatchBlock].[AnimalID] = [Animal].[ID] INNER JOIN
		[BlockTissues] ON [BatchBlock].[ID] = [BlockTissues].[BlockID] INNER JOIN
		[luTissueType] ON [BlockTissues].[TissueCode] = [luTissueType].[Code] LEFT JOIN
		[luTimeReceived] ON [Batch].[TimeReceived] = [luTimeReceived].[Code]
	WHERE
		[Animal].[SenderRef] = @SenderRef 
END
ELSE
	SELECT 
		[Batch].[ID], 
		CONVERT(varchar(30), [Batch].[BatchDate], 103) AS DateSubmitted,
		CONVERT(varchar(30), [Batch].[DateReceived], 103) AS DateReceived,
		[luTimeReceived].[Description] As TimeReceived,
		CONVERT(varchar(30), [Batch].[DateCompleted], 103) AS DateCompleted,
		CONVERT(varchar(30), [Batch].[CustomerReceivedDate], 103) AS CustomerReceivedDate,
		[BatchBlock].[BlockRef],
		[luTissueType].[Description] AS TissueDescription,
		[BlockTissues].[NoPieces]
	FROM  
		[Batch] INNER JOIN
		[BatchBlock] ON [Batch].[ID] = [BatchBlock].[BatchID] INNER JOIN
		[Animal] ON [BatchBlock].[AnimalID] = [Animal].[ID] INNER JOIN
		[BlockTissues] ON [BatchBlock].[ID] = [BlockTissues].[BlockID] INNER JOIN
		[luTissueType] ON [BlockTissues].[TissueCode] = [luTissueType].[Code] LEFT JOIN
		[luTimeReceived] ON [Batch].[TimeReceived] = [luTimeReceived].[Code]
	WHERE
		[Animal].[HistologyRef] = @HistologyRef
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetAnimalBlockTissues]  TO [HistologyUser]
GO

