SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetAuditLogTissue]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetAuditLogTissue]
GO

CREATE PROCEDURE GetAuditLogTissue
	@StartDate datetime,
	@EndDate datetime,
	@ID int,
	@Blocked  int
AS
	IF @Blocked = 1 BEGIN

		SELECT
			[AuditLog].[ID],
			[AuditLog].[TableName],
			[AuditLog].[FieldName],
			CONVERT(varchar(30),[AuditLog].[LogDate], 103) + ' ' + CONVERT(varchar(30), [AuditLog].[LogDate], 108) AS [DateTime],
			[User].[Name] AS [UserName],
			[AuditLog].[BeforeValue],
			[AuditLog].[AfterValue],
			[AuditLog].[Reason],
			[AuditLog].[KeyID]
		FROM
			[AuditLog] INNER JOIN [User] ON [AuditLog].[UserID] = [User].[ID]
		WHERE
			[AuditLog].[ID] = @ID AND [AuditLog].[TableName] = 'BlockTissue' AND
			LogDate BETWEEN ISNULL(@StartDate, '1 January 1900') AND ISNULL(DATEADD(d, 1, @EndDate), DATEADD(d,1, GETDATE()))
		ORDER BY
			[LogDate]	
	END
	ELSE
		SELECT
			[AuditLog].[ID],
			[AuditLog].[TableName],
			[AuditLog].[FieldName],
			CONVERT(varchar(30),[AuditLog].[LogDate], 103) + ' ' + CONVERT(varchar(30), [AuditLog].[LogDate], 108) AS [DateTime],
			[User].[Name] AS [UserName],
			[AuditLog].[BeforeValue],
			[AuditLog].[AfterValue],
			[AuditLog].[Reason],
			[AuditLog].[KeyID]
		FROM
			[AuditLog] INNER JOIN [User] ON [AuditLog].[UserID] = [User].[ID]
		WHERE
			[AuditLog].[ID] = @ID AND [AuditLog].[TableName] = 'BatchTissues' AND 
			LogDate BETWEEN ISNULL(@StartDate, '1 January 1900') AND ISNULL(DATEADD(d, 1, @EndDate), DATEADD(d,1, GETDATE()))
		ORDER BY
			[LogDate]
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetAuditLogTissue]  TO [HistologyUser]
GO

