SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetluTissueTypeAll]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetluTissueTypeAll]
GO

CREATE PROCEDURE GetluTissueTypeAll
AS


	DECLARE @ttblTissueType TABLE
	(
		[ID] int IDENTITY(1,1),
		[Code] varchar(20),
		[Description] varchar(50),
		[IsActive] bit
	)

	SET NOCOUNT ON

	INSERT INTO @ttblTissueType
	(
		[Code],
		[Description],
		[IsActive]
	)

	SELECT 
		[Code],
		[Description],
		[IsActive]
	FROM 
		luTissueType
	ORDER BY 
		[Description]

	SELECT 
		[ID],
		[Code],
		[Description],
		[IsActive]
	FROM 
		@ttblTissueType

	SET NOCOUNT OFF

RETURN
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetluTissueTypeAll]  TO [HistologyUser]
GO

