SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetReceivedBatches]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetReceivedBatches]
GO

CREATE PROCEDURE GetReceivedBatches 
AS

SELECT 
	[Batch].[ID],
	[Batch].[ProjectContractCode],
	[Batch].[ContactName],
	[Batch].[BatchDate],
	[Batch].[BatchType],	
	[Batch].[SafeToHandle],
	[Batch].[DateReceived],
	[Batch].[TimeReceived],
	[Batch].[ReceivedBy],
	[Batch].[Species],
	[Batch].[BatchType],
	[Batch].[OtherSubmittedBy],
	[Batch].[OtherSubmittedArea]
FROM
	Batch

WHERE [Batch].[BatchStatus] =2
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetReceivedBatches]  TO [HistologyUser]
GO

