SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetluStatus]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetluStatus]
GO

CREATE PROCEDURE GetluStatus
AS

SELECT 
	[Code],
	[Description]
FROM 
	luStatus

ORDER BY
	[Code]

RETURN
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetluStatus]  TO [HistologyUser]
GO

