SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetUsers]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetUsers]
GO

CREATE PROCEDURE GetUsers 
AS
SELECT
	[ID],
	[NTLogin],
	[Name],
	[Email],
	[UserGroup],
	[UserArea],
	[Active]
FROM
	[User]
ORDER BY
	[Name]
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetUsers]  TO [HistologyUser]
GO

