SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AddBlockStain]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AddBlockStain]
GO

CREATE PROCEDURE AddBlockStain
	@BlockID int,
	@Code varchar(10),
	@Comment varchar(500),
	@UserID int,
	@BatchID int
AS	
	DECLARE
		@ID int,
		@BatchStatus int

	INSERT INTO BlockStain
		(BlockID, Code, Comment)
	VALUES
		(@BlockID, @Code, @Comment)

	/*
	SET @ID = SCOPE_IDENTITY()  

	SELECT 
		@BatchStatus = [Batch].[BatchStatus]
	FROM
		[Batch]
	WHERE 
		[Batch].[ID] = @BatchID

	IF @BatchStatus <> 1 BEGIN
		INSERT INTO AuditLog 
			(ID, TableName, FieldName, LogDate, UserID, BeforeValue , AfterValue, Reason)
		VALUES
			  (@ID, 'BlockStain','Code', getdate(),@UserID, '', @Code,'AddBlockStain')
	END*/
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[AddBlockStain]  TO [HistologyUser]
GO

