SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[EditAntibodiesTCCode]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[EditAntibodiesTCCode]
GO

CREATE PROCEDURE EditAntibodiesTCCode
	@ID int,
	@TestID int,
	@Code varchar(10),
	@UserID int
AS
DECLARE 
	@columnName  varchar(50),
	@columnValue varchar(500),
	@columnCount int,
	@oldColumnValue varchar(500), 
	@oldColumnValue1 varchar(500), @oldColumnValue2 varchar(500), @oldColumnValue3 varchar(500)

	SET @oldColumnValue2 = CONVERT(varchar(500), (SELECT TestID  FROM AntibodiesTCCodes WHERE ID=@ID))
	SET @oldColumnValue3 = CONVERT(varchar(500), (SELECT Code  FROM AntibodiesTCCodes WHERE ID=@ID))

	UPDATE [AntibodiesTCCodes] SET
		TestID = @TestID,
		Code=@Code
	WHERE
		ID=@ID

	SET @columnCount = 1

	WHILE @columnCount < 4
	BEGIN
		SET @columnName = CASE @columnCount
			WHEN 1 THEN 'ID'
			WHEN 2 THEN 'TestID'
			WHEN 3 THEN 'Code'
		END

		SET @columnVALUE = CASE @columnCount 
			WHEN 1 THEN CONVERT(varchar(500), @ID)
			WHEN 2 THEN CONVERT(varchar(500), @TestID)
			WHEN 3 THEN CONVERT(varchar(500), @Code)
		END

		SET @oldColumnValue = CASE @columnCount
			WHEN 1 THEN CONVERT(varchar(500), @ID)
			WHEN 2 THEN @oldColumnValue2
			WHEN 3 THEN @oldColumnValue3
		END
		

		IF @oldColumnValue <> @columnValue  AND NOT @oldColumnValue IS NULL BEGIN
			INSERT INTO AuditLog 
				(ID, TableName, FieldName, LogDate, UserID, BeforeValue , AfterValue, Reason)
			VALUES
		        	(@ID, 'AntibodiesTCCodes', @columnName, getDate(), @UserID, @oldColumnValue, @columnValue, 'EditAntibodiesTCCode')
		END

		SET @columnCount = @columnCount + 1
	END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[EditAntibodiesTCCode]  TO [HistologyUser]
GO

