SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetluFixatives]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetluFixatives]
GO

CREATE PROCEDURE GetluFixatives
AS

	DECLARE @ttblFixatives TABLE
	(
		[ID] int IDENTITY(1,1),
		[Code] varchar(10),
		[Description] varchar(50),
		[IsActive] bit
	)

	SET NOCOUNT ON

	INSERT INTO @ttblFixatives
	(
		[Code],
		[Description],
		[IsActive]
	)

	SELECT 
		[Code],
		[Description],
		[IsActive]
	FROM 
		luFixatives
	WHERE
		[IsActive] = 1
	ORDER BY 
		[Description]
	
	SELECT 
		[ID],
		[Code],
		[Description],
		[IsActive]
	FROM 
		@ttblFixatives

	SET NOCOUNT OFF

RETURN
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetluFixatives]  TO [HistologyUser]
GO

