SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetAnimalFromDayBook]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetAnimalFromDayBook]
GO



CREATE PROCEDURE GetAnimalFromDayBook 
	@SenderRef varchar(10)
AS
	SELECT 
		[SpeciesID],
		[ProjectCodesDescription],
		CONVERT(varchar(30), [PM_Date],103) AS PMDate,
		[Species]
	FROM 
		DEFACPVWPSQL001.TSE_VLA.dbo.vHistoAnimalDetails
	WHERE
		[TagValue] = @SenderRef
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetAnimalFromDayBook]  TO [HistologyUser]
GO

