SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetAnimalBlockArchiveInformation]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetAnimalBlockArchiveInformation]
GO

CREATE PROCEDURE GetAnimalBlockArchiveInformation 
	@SenderRef varchar(20),
	@HistologyRef varchar(20),
	@BlockRef varchar(10),
	@ArchiveLocation varchar(10)
AS

IF @HistologyRef IS NULL
BEGIN
	SELECT 
		[Batch].[ID], 
		[BatchBlock].[BlockRef],
		[luArchiveLocation].[Description] AS ArchiveLocation, 
		CONVERT(varchar(30),[BatchBlock].[ArchivedDate], 103) AS ArchivedDate,
		[BatchBlock].[ArchiveComment],
		[luTissueType].[Description] AS TissueDescription,
		[BlockTissues].[NoPieces],
		[BatchBlock].[ID]
	FROM  
		[Batch] INNER JOIN
		[BatchBlock] ON [Batch].[ID] = [BatchBlock].[BatchID] INNER JOIN
		[Animal] ON [BatchBlock].[AnimalID] = [Animal].[ID] INNER JOIN
		[BlockTissues] ON [BatchBlock].[ID] = [BlockTissues].[BlockID] INNER JOIN
		[luTissueType] ON [BlockTissues].[TissueCode] = [luTissueType].[Code] LEFT JOIN
		[luArchiveLocation] ON [BatchBlock].[ArchiveLocation] = [luArchiveLocation].[Code]
	WHERE
		[Animal].[SenderRef] = @SenderRef 
		AND (@BlockRef = [BatchBlock].[BlockRef] OR @BlockRef  IS NULL)
		AND (@ArchiveLocation = [BatchBlock].[ArchiveLocation] OR @ArchiveLocation IS NULL)
END
ELSE
	SELECT 
		[Batch].[ID], 
		[BatchBlock].[BlockRef],
		[luArchiveLocation].[Description] AS ArchiveLocation,
		CONVERT(varchar(30),[BatchBlock].[ArchivedDate], 103) AS ArchivedDate,
		[BatchBlock].[ArchiveComment],
		[luTissueType].[Description] AS TissueDescription,
		[BlockTissues].[NoPieces],
		[BatchBlock].[ID]
	FROM  
		[Batch] INNER JOIN
		[BatchBlock] ON [Batch].[ID] = [BatchBlock].[BatchID] INNER JOIN
		[Animal] ON [BatchBlock].[AnimalID] = [Animal].[ID] INNER JOIN
		[BlockTissues] ON [BatchBlock].[ID] = [BlockTissues].[BlockID] INNER JOIN
		[luTissueType] ON [BlockTissues].[TissueCode] = [luTissueType].[Code] LEFT JOIN
		[luArchiveLocation] ON [BatchBlock].[ArchiveLocation] = [luArchiveLocation].[Code]
	WHERE
		[Animal].[HistologyRef] = @HistologyRef AND (@BlockRef = [BatchBlock].[BlockRef] OR @BlockRef  IS NULL)
		AND (@ArchiveLocation = [BatchBlock].[ArchiveLocation] OR @ArchiveLocation IS NULL)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetAnimalBlockArchiveInformation]  TO [HistologyUser]
GO

