SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AddAntibodiesTCCode]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AddAntibodiesTCCode]
GO

CREATE PROCEDURE AddAntibodiesTCCode
	@TestID int,
	@Code varchar(10),
	@UserID int,
	@BatchID int
AS
	DECLARE
		@ID int,
		@BatchStatus int	

	INSERT INTO AntibodiesTCCodes
		(TestID, Code)
	VALUES
		(@TestID, @Code)

	/*
	SET @ID = SCOPE_IDENTITY()  

	SELECT 
		@BatchStatus = [Batch].[BatchStatus]
	FROM
		[Batch]
	WHERE 
		[Batch].[ID] = @BatchID

	IF @BatchStatus <> 1 BEGIN
		INSERT INTO AuditLog 
			(ID, TableName, FieldName, LogDate, UserID, BeforeValue , AfterValue, Reason)
		VALUES
			  (@ID, 'AntibodiesTCCode','Code', getdate(),@UserID, '', @Code,'AddAntibodiesTCCode')
	END
	*/
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[AddAntibodiesTCCode]  TO [HistologyUser]
GO

