SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetQCNoteHistStainTestInformation]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetQCNoteHistStainTestInformation]
GO

CREATE PROCEDURE GetQCNoteHistStainTestInformation
	@QCNoteRef integer
AS

SELECT     
		[BatchBlock].[BlockRef], 
		[Animal].[SenderRef],
		[Animal].[HistologyRef],
		[luHistology].[Description],
		CONVERT(varchar(30), [QCNotes].[DateCreated],103) AS DateCreated,
		[QCNotes].[QCText],
		[QCNotes].[RowStamp],
		[User].[Name]
	FROM         
		[Batch] INNER JOIN [BatchBlock] ON [BatchBlock].[BatchID] = [Batch].[ID]
		INNER JOIN [Animal] ON [BatchBlock].[AnimalID] = [Animal].[ID]
		INNER JOIN [BlockHistology] ON [BlockHistology].[BlockID] = [BatchBlock].[ID]
		INNER JOIN [luHistology] ON [luHistology].[Code] = [BlockHistology].[Code]
		LEFT JOIN [QCNotes] ON [QCNotes].[ID] = [BlockHistology].[QCNoteRef]
		LEFT JOIN [User] ON [User].[ID] = [QCNotes].[CreatedBy] 
	WHERE 
		[BlockHistology].[QCNoteRef] = @QCNoteRef

	
UNION
	SELECT     
		[BatchBlock].[BlockRef], 
		[Animal].[SenderRef],
		[Animal].[HistologyRef],
		[luSpecialStain].[Description],
		CONVERT(varchar(30), [QCNotes].[DateCreated],103) AS DateCreated,
		[QCNotes].[QCText],
		[QCNotes].[RowStamp],
		[User].[Name]
	FROM         
		[Batch] INNER JOIN [BatchBlock] ON [BatchBlock].[BatchID] = [Batch].[ID]
		INNER JOIN [Animal] ON [BatchBlock].[AnimalID] = [Animal].[ID]
		INNER JOIN [BlockStain] ON [BlockStain].[BlockID] = [BatchBlock].[ID]
		INNER JOIN [luSpecialStain] ON [luSpecialStain].[Code] = [BlockStain].[Code] 
		LEFT JOIN [QCNotes] ON [QCNotes].[ID] = [BlockStain].[QCNoteRef] 
		LEFT JOIN [User] ON [User].[ID] = [QCNotes].[CreatedBy] 
	WHERE 
		[BlockStain].[QCNoteRef] = @QCNoteRef
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetQCNoteHistStainTestInformation]  TO [HistologyUser]
GO

