SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetAnimalTissuesArchiveInformation]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetAnimalTissuesArchiveInformation]
GO

CREATE PROCEDURE GetAnimalTissuesArchiveInformation 
	@SenderRef varchar(20),
	@HistologyRef varchar(20),
	@ArchiveLocation varchar(10),
	@TissueCode varchar(10)
AS

IF @HistologyRef IS NULL
BEGIN
	SELECT     
		[BatchSubmission].[BatchID],
		[luTissueType].[Description] As [TissueDescription],
		[luArchiveLocation].[Description] AS ArchiveLocation,
		CONVERT(varchar(30),[BatchTissues].[ArchivedDate], 103) AS ArchivedDate,
		[BatchTissues].[NoPieces]
	FROM        
		[BatchSubmission] INNER JOIN
		[BatchTissues] ON [BatchSubmission].[ID] = [BatchTissues].[BatchSubmissionID] INNER JOIN
		[Animal] ON [BatchSubmission].[AnimalID] = [Animal].[ID] INNER JOIN
		[Batch] ON [BatchSubmission].[BatchID] = [Batch].[ID] INNER JOIN
		[luTissueType] ON [BatchTissues].[TissueCode] = [luTissueType].[Code] LEFT JOIN
		[luArchiveLocation] ON [BatchTissues].[ArchiveLocation] = [luArchiveLocation].[Code]
	WHERE 
		[Animal].[SenderRef] = @SenderRef AND (@TissueCode = [BatchTissues].[TissueCode] OR @TissueCode  IS NULL)
		AND (@ArchiveLocation = [BatchTissues].[ArchiveLocation] OR @ArchiveLocation IS NULL)
END
ELSE
	SELECT
		[BatchSubmission].[BatchID],     
		[luTissueType].[Description] As [TissueDescription],
		[luArchiveLocation].[Description] AS ArchiveLocation,
		CONVERT(varchar(30),[BatchTissues].[ArchivedDate], 103) AS ArchivedDate,
		[BatchTissues].[NoPieces]
	FROM        
		[BatchSubmission] INNER JOIN
		[BatchTissues] ON [BatchSubmission].[ID] = [BatchTissues].[BatchSubmissionID] INNER JOIN
		[Animal] ON [BatchSubmission].[AnimalID] = [Animal].[ID] INNER JOIN
		[Batch] ON [BatchSubmission].[BatchID] = [Batch].[ID] INNER JOIN
		[luTissueType] ON [BatchTissues].[TissueCode] = [luTissueType].[Code] LEFT JOIN
		[luArchiveLocation] ON [BatchTissues].[ArchiveLocation] = [luArchiveLocation].[Code]
	WHERE
		[Animal].[HistologyRef] =@HistologyRef AND (@TissueCode = [BatchTissues].[TissueCode] OR @TissueCode  IS NULL)
		AND (@ArchiveLocation = [BatchTissues].[ArchiveLocation] OR @ArchiveLocation IS NULL)

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetAnimalTissuesArchiveInformation]  TO [HistologyUser]
GO

