SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetCommonBatchTablesByID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetCommonBatchTablesByID]
GO

CREATE PROCEDURE GetCommonBatchTablesByID
	@ID int
AS
	EXEC GetBatchDetails @ID
	EXEC GetBatchHistology @ID
	EXEC GetBatchAntibodies @ID
	EXEC GetBatchStain @ID
	EXEC GetBatchPostFixation @ID
	EXEC GetBatchSubmittedAs @ID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetCommonBatchTablesByID]  TO [HistologyUser]
GO

