SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetluSubmissionPriorityAll]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetluSubmissionPriorityAll]
GO

CREATE PROCEDURE GetluSubmissionPriorityAll
AS


	DECLARE @ttblPriority TABLE
	(
		[ID] int IDENTITY(1,1),
		[Code] varchar(10),
		[Description] varchar(50),
		[IsActive] bit
	)

	SET NOCOUNT ON

	INSERT INTO @ttblPriority
	(
		[Code],
		[Description],
		[IsActive]
	)

	SELECT 
		[Code],
		[Description],
		[IsActive]

	FROM 
		luSubmissionPriority
	ORDER BY 
		[Description]

	SELECT 
		[ID],
		[Code],
		[Description],
		[IsActive]
	FROM 
		@ttblPriority

	SET NOCOUNT OFF

RETURN
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetluSubmissionPriorityAll]  TO [HistologyUser]
GO

