SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetNotReceivedBatches_temp]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetNotReceivedBatches_temp]
GO

CREATE PROCEDURE GetNotReceivedBatches
AS

SELECT 
	[Batch].[ID],
	[Batch].[ProjectContractCode],
	[Batch].[ContactName],
	[Batch].[Species],
	CONVERT(varchar(30), [Batch].[BatchDate],103) AS SubmissionDate,
	[Batch].[BatchType],
	[Batch].[SubmittedBy],
	[Batch].[SafeToHandle],
	[Batch].[BatchStatus],
	CONVERT(varchar(30), [Batch].[DateReceived], 103) AS DateReceived,
	[Batch].[TimeReceived],
	[Batch].[ReceivedBy],
	[Batch].[OtherSubmittedBy],
	[Batch].[OtherSubmittedArea],
	[Batch].[Comments],
	[luSpecies].[Description] As [SpeciesDescription]

FROM
	[Batch] INNER JOIN luSpecies ON [luSpecies].[Code] = [Batch].[Species]

WHERE [Batch].[BatchStatus] = 1
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetNotReceivedBatches_temp]  TO [HistologyUser]
GO

