SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetAnimalHistologyArchiveInformation]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetAnimalHistologyArchiveInformation]
GO

CREATE PROCEDURE GetAnimalHistologyArchiveInformation
	@SenderRef varchar(20),
	@HistologyRef varchar(20),
	@ArchiveLocation varchar(10)
AS

IF @SenderRef IS NULL BEGIN
		SELECT    
			[BatchBlock].[BatchID], 
			[BatchBlock].[BlockRef], 
			CONVERT(varchar(30),[BlockHistology].[ArchivedDate], 103) AS ArchivedDate,
			[luArchiveLocation].[Description] AS ArchiveLocation, 
			[luHistology].[Description], 
			[luTissueType].[Description] AS TissueDescription,
			[BlockTissues].[NoPieces]
		FROM         
			[Batch] INNER JOIN [BatchBlock] ON [BatchBlock].[BatchID] = [Batch].[ID]
			INNER JOIN [Animal] ON [BatchBlock].[AnimalID] = [Animal].[ID]
			INNER JOIN [BlockHistology] ON [BlockHistology].[BlockID] = [BatchBlock].[ID]
			INNER JOIN [luHistology] ON [luHistology].[Code] = [BlockHistology].[Code] 
			LEFT JOIN [luArchiveLocation] ON [luArchiveLocation].[Code] = [BlockHistology].[ArchiveLocation]
			INNER JOIN [BlockTissues] ON [BlockTissues].[BlockID] = [BatchBlock].[ID]
			INNER JOIN [luTissueType] ON [luTissueType].[Code] = [BlockTissues].[TissueCode]
		WHERE 
			[Animal].[HistologyRef] = @HistologyRef
			AND (@ArchiveLocation = [BlockHistology].[ArchiveLocation] OR @ArchiveLocation IS NULL)
		ORDER BY
			[BatchBlock].[BatchID],
			[BatchBlock].[ID],
			[BatchBlock].[BlockRef], 
			[BlockHistology].[ArchivedDate], 
			[luArchiveLocation].[Description],
			[luHistology].[Description],
			[luTissueType].[Description],
			[BlockTissues].[NoPieces]
	END 
	ELSE
		SELECT     
			[BatchBlock].[BatchID], 
			[BatchBlock].[BlockRef], 
			CONVERT(varchar(30),[BlockHistology].[ArchivedDate], 103) AS ArchivedDate,
			[luArchiveLocation].[Description] AS ArchiveLocation, 
			[luHistology].[Description], 
			[luTissueType].[Description] AS TissueDescription,
			[BlockTissues].[NoPieces]
		FROM         
			[Batch] INNER JOIN [BatchBlock] ON [BatchBlock].[BatchID] = [Batch].[ID]
			INNER JOIN [Animal] ON [BatchBlock].[AnimalID] = [Animal].[ID]
			INNER JOIN [BlockHistology] ON [BlockHistology].[BlockID] = [BatchBlock].[ID]
			INNER JOIN [luHistology] ON [luHistology].[Code] = [BlockHistology].[Code] 
			LEFT JOIN [luArchiveLocation] ON [luArchiveLocation].[Code] = [BlockHistology].[ArchiveLocation]
			INNER JOIN [BlockTissues] ON [BlockTissues].[BlockID] = [BatchBlock].[ID]
			INNER JOIN [luTissueType] ON [luTissueType].[Code] = [BlockTissues].[TissueCode]
		WHERE 
			[Animal].[SenderRef] = @SenderRef
			AND (@ArchiveLocation = [BlockHistology].[ArchiveLocation] OR @ArchiveLocation IS NULL)
		ORDER BY
			[BatchBlock].[BatchID],
			[BatchBlock].[ID],
			[BatchBlock].[BlockRef], 
			[BlockHistology].[ArchivedDate], 
			[luArchiveLocation].[Description],
			[luHistology].[Description],
			[luTissueType].[Description],
			[BlockTissues].[NoPieces]

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetAnimalHistologyArchiveInformation]  TO [HistologyUser]
GO

