SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetBatchWithStatus]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetBatchWithStatus]
GO

CREATE PROCEDURE GetBatchWithStatus
	@ID as integer,
	@BatchStatus as integer,
	@Cassetted as integer,
	@BatchType as integer OUTPUT,
	@IsCassetted as integer OUTPUT
AS

IF @BatchStatus = 0 BEGIN
	SELECT 
		@BatchType = [Batch].[BatchType]
	FROM
		[Batch]
	WHERE 
		[Batch].[ID] = @ID
END
ELSE BEGIN
	IF @Cassetted = -1 BEGIN
		SELECT 
			@BatchType = [Batch].[BatchType],
			@IsCassetted = [Batch].[Cassetted]
		FROM
			[Batch]
		WHERE 
			[Batch].[BatchStatus] = @BatchStatus AND 
			[Batch].[ID] = @ID 
	END 
	ELSE
	BEGIN
		SELECT 
			@BatchType = [Batch].[BatchType],
			@IsCassetted = [Batch].[Cassetted]
		FROM
			[Batch]
		WHERE 
			[Batch].[BatchStatus] = @BatchStatus AND 
			[Batch].[ID] = @ID AND 
			[Batch].[Cassetted] = @Cassetted
	END
END

RETURN 
	@@RowCount
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetBatchWithStatus]  TO [HistologyUser]
GO

