SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetluContactsAll]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetluContactsAll]
GO

CREATE PROCEDURE GetluContactsAll 
AS

SELECT * FROM luContacts

ORDER BY
	[Description]
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [dbo].[GetluContactsAll]  TO [HistologyUser]
GO

