if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AddAnimal]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AddAnimal]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO


CREATE PROCEDURE AddAnimal
	@SenderRef varchar(20),
	@HistologyRef varchar(20),
	@NextBlockRef varchar(4),
	@OnHold bit,
	@PMDate datetime,
	@NewID int OUTPUT
AS        
	DECLARE
	@ErrorCode int,
	@RowCount int,
	@Test int

	IF NOT @HistologyRef IS NULL AND NOT @HistologyRef = '' BEGIN
		SELECT 
			HistologyRef
		FROM
			Animal
		WHERE
			HistologyRef=@HistologyRef
	
		SET @RowCount = @@ROWCOUNT
	
		IF @RowCount > 0  BEGIN
			RETURN 2
		END
	END

	SELECT
		[SenderRef]
	FROM
		[Animal]
	WHERE
		[SenderRef] = @SenderRef

	SET @RowCount = @@ROWCOUNT

	IF NOT @SenderRef IS NULL AND NOT @SenderRef = '' BEGIN
	IF @RowCount > 0 BEGIN
		SELECT
			@NewID = [ID]
		FROM
			[Animal]
		WHERE
			[SenderRef] = @SenderRef
		RETURN 1
	END
	END

	-- Check if the HistologyRef is present in the UnUsedHistologyRefs table. If it is mark it as used.
	if not exists (select * from Animal where HistologyRef = @HistologyRef)
	begin
		if exists (select * from UnUsedHistologyRefs where HistologyRef = @HistologyRef)
		begin
			update UnUsedHistologyRefs set Used = 1 where HistologyRef = @HistologyRef
		end
	end

	INSERT INTO Animal
		(SenderRef, HistologyRef, NextBlockRef, PMDate)
	VALUES
		(@SenderRef, @HistologyRef, @NextBlockRef, @PMDate)

	SET @NewID = SCOPE_IDENTITY()

	
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

grant exec on AddAnimal to HistologyUser