if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[EditAnimal]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[EditAnimal]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE EditAnimal
	@ID int,
	@SenderRef varchar(20),
	@HistologyRef varchar(20),
	@NextBlockRef varchar(4),
	@OnHold bit,
	@PMDate datetime,
	@RowStamp timestamp,
	@UserID integer
AS
DECLARE 
	@ErrorCode int, 
	@RowCount  int,
	@AnimalCount int,
	@columnName  varchar(50),
	@columnValue varchar(500),
	@columnCount int,
	@oldColumnValue varchar(500), 
	@oldColumnValue1 varchar(500), @oldColumnValue2 varchar(500), @oldColumnValue3 varchar(500), @oldColumnValue4 varchar(500), @oldColumnValue5 varchar(500), @oldColumnValue6 varchar(500),
	@SenderRef2 varchar(20),
	@oldSenderRefs varchar(100)

	SET @oldColumnValue2 = CONVERT(varchar(500), (SELECT SenderRef  FROM Animal WHERE ID=@ID))
	SET @oldColumnValue3 = CONVERT(varchar(500), (SELECT HistologyRef  FROM Animal WHERE ID=@ID))
	SET @oldColumnValue4 = CONVERT(varchar(500), (SELECT NextBlockRef  FROM Animal WHERE ID=@ID))
	SET @oldColumnValue5 = CONVERT(varchar(500), (SELECT PMDate  FROM Animal WHERE ID=@ID))
	SET @oldColumnValue6 = CONVERT(varchar(500), (SELECT OnHold  FROM Animal WHERE ID=@ID))

	IF NOT @HistologyRef IS NULL AND NOT @HistologyRef = '' BEGIN
		SELECT SenderRef From Animal WHERE HistologyRef=@HistologyRef

		SET @AnimalCount = @@RowCount

		IF @AnimalCount > 1 BEGIN
			RETURN 2
		END
		
		SET @SenderRef2 = (SELECT SenderRef FROM Animal WHERE HistologyRef=@HistologyRef)

		IF Not @SenderRef2 IS NULL BEGIN
		IF Not @SenderRef2 = @SenderRef BEGIN
			RETURN 2
		END
		END
	END

	UPDATE Animal SET
		SenderRef=@SenderRef,
		HistologyRef=@HistologyRef,
		NextBlockRef=@NextBlockRef,
		PMDate=@PMDate,
		OnHold=@OnHold		
	WHERE
		ID=@ID AND RowStamp=@RowStamp
	
	SET @RowCount = @@ROWCOUNT

	IF @RowCount = 0 BEGIN
		RETURN 1
	END

	-- update the UnUsedHistologyRefs table if the new or old HistologyRef is present in there.
	if exists(select * from UnUsedHistologyRefs where HistologyRef = @HistologyRef)
	begin
		update UnUsedHistologyRefs set Used = 1 where HistologyRef = @HistologyRef
	end

	if not exists (select * from Animal where HistologyRef = convert(varchar(10), @oldColumnValue3))
	begin
		if exists (select * from UnUsedHistologyRefs where HistologyRef = convert(varchar(10), @oldColumnValue3))
		begin
			select @oldSenderRefs = SenderRef from UnUsedHistologyRefs where HistologyRef = convert(varchar(10), @oldColumnValue3)
			set @oldSenderRefs = @oldSenderRefs + ', ' + @SenderRef
	
			update UnUsedHistologyRefs set Used = 0, SenderRef = @oldSenderRefs where HistologyRef = convert(varchar(10), @oldColumnValue3)
		end
		else
		begin
			if convert(varchar(10), @oldColumnValue3) != ''
			begin
				insert into UnUsedHistologyRefs(HistologyRef, SenderRef, Used)
				values (convert(varchar(10), @oldColumnValue3), @SenderRef, 0)
			end
		end
	end

	SET @columnCount = 1

	WHILE @columnCount < 7
	BEGIN
		SET @columnName = CASE @columnCount
			WHEN 1 THEN 'ID'
			WHEN 2 THEN 'SenderRef'
			WHEN 3 THEN 'HistologyRef'
			WHEN 4 THEN 'NextBlockRef'
			WHEN 5 THEN 'PMDate'
			WHEN 6 THEN 'OnHold'
		END

		SET @columnVALUE = CASE @columnCount 
			WHEN 1 THEN CONVERT(varchar(500), @ID)
			WHEN 2 THEN CONVERT(varchar(500), @SenderRef)
			WHEN 3 THEN CONVERT(varchar(500), @HistologyRef)
			WHEN 4 THEN CONVERT(varchar(500), @NextBlockRef)
			WHEN 5 THEN CONVERT(varchar(500), @PMDate)
			WHEN 6 THEN CONVERT(varchar(500), @OnHold)
		END

		SET @oldColumnValue = CASE @columnCount
			WHEN 1 THEN CONVERT(varchar(500), @ID)
			WHEN 2 THEN @oldColumnValue2
			WHEN 3 THEN @oldColumnValue3
			WHEN 4 THEN @oldColumnValue4
			WHEN 5 THEN @oldColumnValue5
			WHEN 6 THEN @oldColumnValue6
		END
		

		IF @oldColumnValue <> @columnValue  AND NOT @oldColumnValue IS NULL AND NOT @columnName = 'NextBlockRef' BEGIN
			INSERT INTO AuditLog 
				(ID, TableName, FieldName, LogDate, UserID, BeforeValue , AfterValue, Reason)
			VALUES
		        	(@ID, 'Animal', @columnName, getDate(), @UserID, @oldColumnValue, @columnValue, 'EditAnimal')
		END

		SET @columnCount = @columnCount + 1
	END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

grant exec on EditAnimal to HistologyUser