if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetNextHistologyRef]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetNextHistologyRef]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE GetNextHistologyRef
	@Type integer,
	@NextHistologyRef varchar(5) OUTPUT,
	@RowStamp timestamp OUTPUT
AS

SELECT
	@NextHistologyRef =[NextHistologyRef],
	@RowStamp = [RowStamp]
FROM
	[HistologyRef]
WHERE
	[Type] = @Type

UPDATE
	[HistologyRef]
SET
	[NextHistologyRef] = convert(varchar(5), convert(integer, [NextHistologyRef]) + 1)
WHERE
	[Type] = @Type

declare @newHistologyRef varchar(8)

set @newHistologyRef = convert(varchar(2), datepart(yy, getdate())) + '/' + convert(varchar(5), @NextHistologyRef)
if exists(select * from Animal where HistologyRef = @newHistologyRef)
	return 1

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

grant exec on GetNextHistologyRef to HistologyUser