if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetTestHistologyBatch]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetTestHistologyBatch]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO


CREATE PROCEDURE GetTestHistologyBatch
	@ProjectContractCode varchar(50),
	@SubmittedDateFrom datetime,
	@SubmittedDateTo datetime,
	@BatchType bit =0,
	@Tests varchar(1000),
	@TestCode varchar(50)
AS

declare @sql_select varchar(8000)
declare @newline char(1)

set @newline = char(10)

set @sql_select = 

'		select distinct
			b.ID
		from         
			BatchBlock  bb
			inner join BlockHistology bs on bb.ID = bs.BlockID 
			inner join Batch b on bb.BatchID = b.ID 
			inner join HistologyTCCodes ss on bs.ID = ss.TestID
			inner join luPremiumCharges lp on lp.Code = ss.Code
			inner join luProjects lup on lup.Id = b.ProjectContractCode
		where 
			bs.Dispatched = 1 
			and lp.[Description] = ''' + @testcode + ''' 
			and b.BatchType = ' + convert(varchar(10), @BatchType) + ' 
			and isnull(bs.DispatchedDate, convert(smalldatetime, ''01/01/1900'', 103)) between convert(smalldatetime, ''' + isnull(convert(varchar(10), @SubmittedDateFrom, 103), '01/01/1900') + ''', 103)
				and convert(smalldatetime, ''' + isnull(convert(varchar(50), @SubmittedDateTo, 103), convert(varchar(50), + getdate(), 103)) + ''', 103) 
			and (lup.[Description] = ''' +  @ProjectContractCode + ''' or ''' + @ProjectContractCode + ''' = '''')
			and bs.Code in (''' + @Tests + ''')
		order by
			b.ID'

exec  (@sql_select)

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

grant exec on GetTestHistologyBatch to HistologyUser


