if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetUnUsedHistologyRefs]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetUnUsedHistologyRefs]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE GetUnUsedHistologyRefs

AS

select
	HistologyRef
from
	UnUsedHistologyRefs
where
	Used = 0

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

grant exec on GetUnUsedHistologyRefs to HistologyUser