if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetTestRows]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetTestRows]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO


CREATE PROCEDURE GetTestRows
	@ProjectContractDesc varchar(50) = null,
	@BatchType bit =0
AS


select 
	b.PROJECTCONTRACTCODE,
	b.SUBMITTEDAREA
from
	BLOCKANTIBODIES ba inner join ANTIBODIESTCCODES ac on ba.ID = ac.TESTID
	inner join BATCHBLOCK bb on bb.ID = ba.BLOCKID
	inner join BATCH b on b.ID = bb.ID
	inner join LUPROJECTS lp on b.PROJECTCONTRACTCODE = lp.ID
where
	b.BATCHTYPE = @BatchType
	and ba.DISPATCHED = 1
	and (lp.DESCRIPTION = @ProjectContractDesc or @ProjectContractDesc is null)
group by 
	b.PROJECTCONTRACTCODE, b.SUBMITTEDAREA

union

select 
	b.PROJECTCONTRACTCODE,
	b.SUBMITTEDAREA
from
	BLOCKSTAIN bs inner join SPECIALSTAINTCCODES sc on bs.ID = sc.TESTID
	inner join BATCHBLOCK bb on bb.ID = bs.BLOCKID
	inner join BATCH b on b.ID = bb.ID
	inner join LUPROJECTS lp on b.PROJECTCONTRACTCODE = lp.ID
where
	b.BATCHTYPE = @BatchType
	and bs.DISPATCHED = 1
	and (lp.DESCRIPTION = @ProjectContractDesc or @ProjectContractDesc is null)
group by 
	b.PROJECTCONTRACTCODE, b.SUBMITTEDAREA

union

select 
	b.PROJECTCONTRACTCODE,
	b.SUBMITTEDAREA
from
	BLOCKHISTOLOGY bh inner join HISTOLOGYTCCODES hc on bh.ID = hc.TESTID
	inner join BATCHBLOCK bb on bb.ID = bh.BLOCKID
	inner join BATCH b on b.ID = bb.ID
	inner join LUPROJECTS lp on b.PROJECTCONTRACTCODE = lp.ID
where
	b.BATCHTYPE = @BatchType
	and bh.DISPATCHED = 1
	and (lp.DESCRIPTION = @ProjectContractDesc or @ProjectContractDesc is null)
group by 
	b.PROJECTCONTRACTCODE, b.SUBMITTEDAREA


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

grant exec on GetTestRows to HistologyUser
