if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AddUnusedHistologyref]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AddUnusedHistologyref]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE AddUnusedHistologyref
	@SenderRef varchar(10),
	@HistologyRef varchar(10)
as

declare @oldSenderRefs varchar(1000)


if not exists (select * from Animal where Histologyref = @HistologyRef)
begin
	if exists (select * from UnUsedHistologyRefs where HistologyRef = @HistologyRef)
	begin
		select @oldSenderRefs = SenderRef from UnUsedHistologyRefs where HistologyRef = @HistologyRef
		set @oldSenderRefs = @oldSenderRefs + ', ' + @SenderRef

		update UnUsedHistologyRefs set Used = 0, SenderRef = @oldSenderRefs where HistologyRef = @HistologyRef
	end
	else
	begin
		insert into UnUsedHistologyRefs(HistologyRef, SenderRef, Used)
		values (@HistologyRef, @SenderRef, 0)
	end
end


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

grant exec on AddUnusedHistologyref to HistologyUser