if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[EditAnimalHistologyRef]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[EditAnimalHistologyRef]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO


CREATE PROCEDURE EditAnimalHistologyRef 

	@SenderRef varchar(20),
	@NewHistologyRef varchar(20)

 AS
	DECLARE
	@RowCount int,
	@oldHistologyRef varchar(10),
	@oldSenderRefs varchar(1000)

	SELECT 
		SenderRef
	FROM
		Animal
	WHERE
		Animal.SenderRef = @SenderRef

	SET @RowCount = @@ROWCOUNT

	IF @RowCount = 0 BEGIN
		RETURN 1
	END

	IF @RowCount >1 BEGIN
		RETURN 2
	END


	IF  @NewHistologyRef <> '' BEGIN

		SELECT 
			@oldHistologyRef = HistologyRef
		FROM
			Animal
		WHERE
			Animal.HistologyRef = @NewHistologyRef  AND
			Animal.SenderRef  <> @SenderRef

		SET @RowCount = @@ROWCOUNT
	
		IF @RowCount > 0 BEGIN
			RETURN 3
		END

	SELECT 
		@oldHistologyRef = HistologyRef
	FROM
		Animal
	WHERE
		Animal.SenderRef = @SenderRef

	UPDATE Animal SET
		HistologyRef = @NewHistologyRef
	WHERE 
		SenderRef = @SenderRef
	END	

	IF  @NewHistologyRef = '' BEGIN
		UPDATE Animal SET
			HistologyRef = NULL
		WHERE 
			SenderRef = @SenderRef
	end
	
	if exists (select * from UnUsedHistologyRefs where HistologyRef = @NewHistologyRef)
	begin
		update UnUsedHistologyRefs set Used = 1 where HistologyRef = @NewHistologyRef
	end
	
	if not @oldHistologyRef is null
	begin
		if not exists (select * from Animal where HistologyRef = @oldHistologyRef)
		begin
			if exists(select * from UnUsedHistologyRefs where HistologyRef = @oldHistologyRef) 
			begin
				select @oldSenderRefs = SenderRef from UnUsedHistologyRefs where HistologyRef = @oldHistologyRef
				set @oldSenderRefs = @oldSenderRefs + ', ' + @SenderRef
		
				update UnUsedHistologyRefs set Used = 0, SenderRef = @oldSenderRefs where HistologyRef = @oldHistologyRef				
			end
			else begin
				insert into UnUsedHistologyRefs(HistologyRef, SenderRef, Used)
				values (@oldHistologyRef, @SenderRef, 0) 
			end
		end
	end


	

	

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

grant exec on EditAnimalHistologyRef to HistologyUser
