if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[UnUsedHistologyRefs]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[UnUsedHistologyRefs]
GO

CREATE TABLE [dbo].[UnUsedHistologyRefs] (
	[HistologyRef] [varchar] (20) NOT NULL ,
	[SenderRef] [varchar] (1000) NOT NULL ,
	[Used] [bit] NOT NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[UnUsedHistologyRefs] WITH NOCHECK ADD 
	CONSTRAINT [PK_UnUsedHistologyRefs] PRIMARY KEY  CLUSTERED 
	(
		[HistologyRef]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[UnUsedHistologyRefs] ADD 
	CONSTRAINT [DF_UnUsedHistologyRefs_Used] DEFAULT (0) FOR [Used]
GO

